@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('utility.css');
$headerHeight:50px;
$sidebarWidth:320px;
$mainColor:#79B833;
// common varibles ends
* {
    text-decoration: none!important; // box-shadow: 0px 0px 0px 1px #f90;
}
// .row{
//     box-shadow: 0px 0px 0px 1px #09f;
// }
.tooltip {
    white-space: nowrap;
}
.font-normal {
    //font-family: 'ProximaNova-Regular';
    font-weight: normal;
}
.font-bold {
    //font-family: 'ProximaNova-Bold';
    font-weight: bold;
}
.font-semi-bold {
    //font-family: 'ProximaNova-Semibold';
    font-weight: 500;
}
b, strong, label, th {
    @extend .font-bold;
}
.bg-default {
    background: #f9f9f9!important;
}
.bg-primary {
    background-color: #ab8ce4 !important
}
.bg-success {
    background-color: #00c292 !important
}
.bg-info {
    background-color: #03a9f3 !important
}
.bg-warning {
    background-color: #fec107 !important
}
.bg-danger {
    background-color: #fb9678 !important
}
.bg-theme {
    background-color: #ff6849 !important
}
.bg-theme-dark {
    background-color: #4F5467 !important
}
.bg-inverse {
    background-color: #4c5667 !important
}
.bg-purple {
    background-color: #9675ce !important
}
.bg-white {
    background-color: #ffffff !important
}
.bg-special {
    background: #fbf5dc!important;
}
.br-1 {
    border-right: 1px solid #e5e5e5;
}
.brt-0 {
    border-top: 0px!important;
}
.depth-b-1 {
    box-shadow: 0px 1px 1px rgba(black, .1), 0px 1px 3px rgba(black, .1);
}
.depth-t-1 {
    box-shadow: 0px -1px 1px rgba(black, .1), 0px -1px 3px rgba(black, .1);
}
.depth-r-1 {
    box-shadow: 1px -1px 1px rgba(black, .1), 1px 1px 3px rgba(black, .1);
}
.depth-l-1 {
    box-shadow: -1px -1px 1px rgba(black, .1), -1px 1px 3px rgba(black, .1);
}
.depth1 {
    box-shadow: 0px 3px 10px rgba(black, .2);
}
.gradient {
    background: $mainColor;
}
.label {
    padding: 7px 15px;
    border-radius: 25px;
}
.label-custom {
    background-color: #01c0c8
}
.label-success {
    background-color: #00c292
}
.label-info {
    background-color: #03a9f3
}
.label-warning {
    background-color: #fec107
}
.label-danger {
    background-color: #fb9678
}
.label-megna {
    background-color: #01c0c8
}
.label-primary {
    background-color: $mainColor;
}
.label-purple {
    background-color: #9675ce
}
.label-red {
    background-color: #fb3a3a
}
.label-inverse {
    background-color: #4c5667
}
.text-white {
    color: #ffffff !important;
}
.text-danger {
    color: #fb9678 !important;
}
.text-muted {
    color: #8d9ea7 !important;
}
.text-warning {
    color: #fec107 !important;
}
.text-success {
    color: #00c292 !important;
}
.text-info {
    color: #03a9f3 !important;
}
.text-inverse {
    color: #4c5667 !important;
}
.text-blue {
    color: #02bec9 !important;
}
.text-purple {
    color: #9675ce !important;
}
.text-primary {
    color: $mainColor !important;
}
.text-megna {
    color: #01c0c8 !important;
}
.text-dark {
    color: #686868 !important;
}
.color-confirmed {
    color: #01992a;
}
.color-guest {
    color: #0101e0;
}
.color-completed {
    color: #9d009e;
}
.color-cancelled {
    color: #ee0001;
}
.color-unconfirmed {
    color: #f5a501;
}
.border-confirmed {
    border-left: 3px solid #01992a;
}
.border-guest {
    border-left: 3px solid #0101e0;
}
.border-completed {
    border-left: 3px solid #9d009e;
}
.border-cancelled {
    border-left: 3px solid #ee0001;
}
.border-unconfirmed {
    border-left: 3px solid #f5a501;
}
.no-wrap {
    white-space: nowrap;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.title-line {
    overflow: hidden;
    display: block;
    margin: 20px 0px;
    span {
        display: inline-block;
        position: relative;
        padding: 0px 5px;
        margin: 0px;
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 1200px;
            height: 1px;
            background: #e5e5e5;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
    }
    &.text-left {
        span {
            padding-left: 0px;
        }
    }
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
[table] {
    display: table;
    width: 100%;
    [tr] {
        display: table-row;
        [td] {
            display: table-cell;
            vertical-align: top;
            &[btn] {
                white-space: nowrap;
                width: 32px;
                .btn {
                    display: block;
                    width: 30px;
                    padding-left: 0px;
                    padding-right: 0px;
                    border-radius: 0px;
                    margin-left: 2px;
                }
            }
        }
    }
}
.table {
    tr {
        &:first-child {
            td {
                // border-top: 0px;
            }
        }
    }
}
.table-total {
    >td {
        background: #F7941E;
        color: white;
        font-size: 16px;
        @extend .font-bold;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding-left: 15px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-right: 15px;
        }
    }
}
.table-devider {
    >td {
        border-top-width: 1px!important;
        border-top-color: #999!important;
    }
}
.ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.ul-inline {
    @extend .ul;
    li {
        display: inline-block;
        padding: 5px 0px;
        margin-right: 10px;
        i {
            margin-right: 5px;
        }
    }
}
.ul-block {
    @extend .ul;
    >li {
        display: block;
        padding: 8px 0px;
    }
}
.ul-list-one {
    @extend .ul;
    >li {
        display: block;
        padding: 10px 0px;
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
            border-bottom: 0px;
        }
        >span {
            float: right;
        }
    }
}
.rm-10 {
    margin-left: -10px!important;
    margin-right: -10px!important;
}
.cp-10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.rm-5 {
    margin-left: -5px!important;
    margin-right: -5px!important;
}
.cp-5 {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.dropdown {
    .dropdown-menu {
        margin: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 1px rgba(black, .1), 0px 5px 20px rgba(black, .2);
        border: 0px;
        display: block;
        visibility: hidden;
        opacity: 0;
        >li {
            position: relative;
            // transition: all .3s ease;
            // transform: translateX(20px);
            // opacity: 0;
            // visibility: hidden;
            >a {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
    &.open {
        .dropdown-menu {
            visibility: visible;
            opacity: 1;
            // >li {
            //     transform: translateX(0px);
            //     visibility: visible;
            //     opacity: 1;
            //     @for $i from 1 to 20 {
            //         &:nth-child(#{$i}) {
            //             transition-delay: $i * .05s;
            //         }
            //     }
            // }
        }
    }
}
.panel {
    box-shadow: none;
    margin-bottom: 10px;
    .panel-heading {
        padding: 0px;
        background: white;
        color: #676767;
        .panel-title {
            padding: 10px 15px;
            i {
                font-style: normal;
                font-weight: 300;
                float: right;
                cursor: pointer;
                &:before {
                    font-family: Font Awesome\ 5 Pro;
                }
                &[aria-expanded="false"] {
                    &:before {
                        content: '\f078';
                    }
                }
                &[aria-expanded="true"] {
                    &:before {
                        content: '\f077';
                    }
                }
            }
        }
    }
}
.whitebox {
    padding: 20px;
    background: white;
    margin-bottom: 20px; // overflow: hidden;
    @extend .depth-b-1;
    .whiteboxHead {
        margin: -20px;
        margin-bottom: 20px;
        padding: 0px 100px 0px 20px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        background: white;
        strong {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-weight: normal;
            @extend .font-bold;
        }
        span {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }
    }
    &.bordered {
        box-shadow: none;
        border: 1px solid #e5e5e5;
    }
    &.whitebox-login {
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 50px 30px;
        transform: translate(-50%, -50%);
    }

.checkbox, .checkbox-inline {
    padding: 0px;
    label {
        position: relative;
        margin: 0px;
        padding-left: 20px + 8;
        line-height: 20px;
        vertical-align: top;
        span {
            position: absolute;
            left: 0px;
            top: 0px;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            width: 20px;
            background: transparent;
            text-align: center;
            border: 2px solid #bbb;
            border-radius: 2px;
            cursor: pointer;
            &:before {
                content: "\2713 ";
                color: $mainColor;
                display: none;
            }
        }
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked+span {
        background: $mainColor;
        border-color: $mainColor;
        &:before {
            display: block;
            color: white;
        }
    }
}
.radio, .radio-inline {
    padding: 0px;
    cursor: pointer;
    label {
        position: relative;
        margin: 0px;
        padding-left: 20px + 8;
        line-height: 20px;
        span {
            position: absolute;
            left: 0px;
            top: 0px;
            display: inline-block;
            height: 20px;
            width: 20px;
            background: transparent;
            border-radius: 100%;
            border: 2px solid #ccc;
            &:before {
                content: '';
                position: absolute;
                left: 5px;
                top: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                background: $mainColor;
                border-radius: 100%;
                display: none;
            }
        }
    }
    input[type="radio"] {
        display: none;
    }
    input[type="radio"]:checked+span {
        &:before {
            display: block;
        }
    }
}
.form-control {
    border-radius: 0px;
    box-shadow: none;
    @extend .placeholder;
}
.form-horizontal .control-label {
    text-align: left;
    white-space: nowrap; // overflow: hidden;
    // text-overflow: ellipsis;
}
.clear {
    &:before, &:after {
        clear: both;
        content: '';
        display: table;
    }
}
[role="tablist"] {
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    @extend .ul;
    @extend .clear;
    >li {
        float: left;
        display: inline-block;
        border-right: 1px solid #e5e5e5;
        >a {
            display: block;
            height: 40px;
            line-height: 40px;
            padding: 0px 20px;
            text-transform: capitalize;
            color: #676767;
            position: relative;
            @extend .font-bold;
            &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: -1px;
                width: 100%;
                background: #fff;
                height: 1px;
                display: none;
            }
        }
        &.active {
            >a {
                background: white;
                &:before {
                    display: block;
                }
            }
        }
    }
}
.custom-input {
    position: relative;
    .ci-icon {
        position: absolute;
        right: 1px;
        top: 1px;
        height: calc( 100% - 2px);
        width: 30px;
        background: white;
        border-left: 1px solid #ccc;
        pointer-events: none;
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin-top: -10px;
            margin-left: -10px;
            text-align: center;
            font-size: 16px;
        }
    }
    .form-control {
        border-radius: 0px;
        box-shadow: none;
    }
}
[data-toggle="modal"] {
    cursor: pointer;
}
.modal {
    .modal-dialog {
        &.modal-fluid {
            width: calc(100% - 40px);
        }
        .modal-content {
            border-radius: 0px;
            @extend .depth-b-1;
            .modal-header {
                position: relative;
                .close {
                    height: 24px;
                    width: 24px;
                    background: transparent;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -12px;
                    overflow: hidden;
                    text-indent: -999px;
                    transform: rotate(45deg);
                    opacity: 0.6;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        background: #333;
                    }
                    &:before {
                        top: 0px;
                        left: 50%;
                        width: 1px;
                        height: 100%;
                        margin-left: -1px;
                    }
                    &:after {
                        top: 50%;
                        left: 0px;
                        width: 100%;
                        height: 1px;
                        margin-top: -1px;
                    }
                }
            }
            .modal-body {
                // padding-left: 30px;
                // padding-right: 30px;
            }
        }
    }
}
.placeholder {
    &::-webkit-input-placeholder {
        color: #999;
    }
    &::-moz-placeholder {
        color: #999;
    }
    &:-ms-input-placeholder {
        color: #999;
    }
    &:-moz-placeholder {
        color: #999;
    }
}
.input-lg {
    font-size: 13px;
    border-radius: 3px;
    box-shadow: none;
}
.btn {
    i {
        display: inline-block;
        vertical-align: middle;
    }
}
.btn-lg {
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 25px;
    font-weight: 500;
}
.btn-w200 {
    width: 200px;
}
.btn-primary {
    background: #cb0000;
    border-color: #890000;
    color: #fff;
    
    &:hover, &:active, &:focus {
        background: $mainColor!important;
        border-color: $mainColor!important;
        color: #fff!important;
    }
}
.tooltip {
    &.bottom {
        .tooltip-arrow {
            border-bottom-color: darken($mainColor, 12%);
        }
    }
    &.top {
        .tooltip-arrow {
            border-top-color: darken($mainColor, 12%);
        }
    }
    .tooltip-inner {
        background: darken($mainColor, 12%);
        border-radius: 2px;
        padding: 5px 10px;
    }
}
.ratingOutput {
    padding: 0px;
}
// common css ends
body {
    font-size: 13px;
    background: #eee;
    color: #676767;
    @extend .font-normal;
}
section.navigation {
    min-height: $headerHeight;
    @extend .gradient;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 99;
    background: #cb0000 !important;
}
    .logo {
        min-height: $headerHeight;
        line-height: $headerHeight;
        padding: 0px 20px;
        color: white;
        font-size: 20px;
        margin-left: -15px;
        @extend .font-bold;
    }
    .menu {
        display: inline-block;
        vertical-align: top;
        >ul {
            display: inline-block;
            vertical-align: top;
            >li {
                display: inline-block;
                float: left;
                vertical-align: top;
                padding: 5px 0px;
                >a {
                    display: block;
                    height: $headerHeight - 10;
                    line-height: $headerHeight - 10;
                    color: white;
                    padding: 0px 20px;
                    font-size: 14px;
                    border-radius: $headerHeight - 10;
                    transition: all .3s ease;
                    position: relative;
                    @extend .font-semi-bold;
                    .lbl{
                        position: absolute;
                        right: -5px;
                        top: 0px;
                        height: 20px;
                        line-height: 20px;
                        padding: 0px 7px;
                        border-radius: 10px;
                        background-color: #f00;
                        color: white;
                        font-weight: 300;
                        font-size: 12px;
                        z-index: 66;

                    }
                }
                &.icon {
                    >a {
                        padding: 0px 0px;
                        width: $headerHeight - 10;
                        text-align: center;
                        top: 0px;
                        i {
                            font-size: 16px;
                            vertical-align: middle;
                        }
                    }
                    &.toggle {
                        >a {
                            i {
                                font-size: 25px;
                            }
                        }
                    }
                }
                &.active, &.open {
                    >a {
                        background: rgba(black, .15)!important;
                    }
                }
                &:hover {
                    >a {
                        background: rgba(white, .15);
                    }
                } // subleevl
                position: relative;
                >ul {
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    background: white;
                    width: 200px;
                    @extend .ul;
                    @extend .depth1;
                    border: 1px solid #ccc;
                    display: none;
                    &.right {
                        left: inherit;
                        right: 0px;
                    }
                    >li {
                        display: block;
                        position: relative;
                        >a {
                            display: block;
                            padding: 10px 20px;
                            color: #676767;
                        }
                        >ul {
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            background: white;
                            width: 200px;
                            @extend .ul;
                            @extend .depth1;
                            border: 1px solid #ccc;
                            display: none;
                            &.right {
                                left: inherit;
                                right: 100%;
                            }
                            >li {
                                display: block;
                                >a {
                                    display: block;
                                    padding: 10px 20px;
                                    color: #676767;
                                }
                                &:hover {
                                    >a {
                                        background: #f9f9f9;
                                    }
                                }
                            }
                        }
                        &:hover {
                            >a {
                                background: #f9f9f9;
                            }
                            >ul {
                                display: block;
                            }
                        }
                    }
                    li {
                        &.hasChild {
                            >a {
                                &:after {
                                    font-family: Font Awesome\ 5 Pro;
                                    content: '\f054';
                                    float: right;
                                    font-weight: 300;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    >ul {
                        display: block;
                    }
                }
            }
        }
        &.menuRight {
            float: right;
            margin-right: -15px;
            padding-right: 5px
        }
    }
}
.mmenu {
    .menu {
        height: 0px;
        overflow: hidden;
        >ul {
            @extend .ul;
            padding: 1px;
            >li {
                display: inline-block;
                float: left;
                width: 50%;
                padding: 1px;
                >a {
                    display: block;
                    background: white;
                    padding: 10px 20px;
                    color: #333;
                    i {
                        float: right;
                    }
                }
                ul {
                    width: 100%;
                }
            }
            @extend .clear;
        }
    }
}
section.pageWrapper {
    background: transparent;
    padding-top: $headerHeight;
    .pageHeader {
        height: 40px;
        padding: 0px 20px;
        background: #fff;
        position: relative;
        z-index: 2;
        @extend.depth-b-1;
        // border: 1px solid #f00;
        .row {
            margin: 0px;
            [class^="col"] {
                padding: 0px;
            }
        }
        strong {
            line-height: 40px;
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        .actions {
            display: inline-block;
            float: right;
            margin-right: -20px;
            >li {
                display: inline-block;
                float: left;
                border-left: 1px solid #e5e5e5;
                >a {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    padding: 0px 20px;
                    color: #333;
                    font-weight: 500;
                }
                >.actionsDatepicker {
                    display: inline-block;
                    position: relative;
                    padding: 10px 0px;
                    padding-left: 20px;
                    margin-right: 20px;
                    input[type=text] {
                        height: 20px;
                        width: 100px;
                        padding: 0px;
                        border: 0px;
                        box-shadow: none;
                        padding-right: 20px;
                        outline: none;
                        cursor: pointer;
                    }
                    i {
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        right: 0px;
                        top: 50%;
                        margin-top: -10px;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .pageBody {
         // border: 1px solid #f00;
        // overflow-y: auto;
        padding: 20px;
        padding-right: 20px;
    }
    .pageFooter {
        display: none;
         // border: 1px solid #f00;
        height: 40px;
        line-height: 40px;
        padding: 0px 20px;
        background: white;
        position: relative;
        text-align: center;
        z-index: 2;
        @extend.depth-t-1;
    }
    .pageSidebar {
         // border: 1px solid #f00;
        display: none;
        position: fixed;
        left: 0px;
        top: $headerHeight;
        width: $sidebarWidth;
        height: calc(100% - #{$headerHeight});
        max-height: calc(100% - #{$headerHeight});
        background: white;
        overflow-y: hidden;
        z-index: 2;
        @extend.depth-r-1;
        .SidebarHead {
            height: 40px;
            line-height: 40px;
            padding: 0px 20px;
            font-size: 16px;
            position: relative;
            z-index: 5;
            @extend.font-bold;
            @extend.depth-b-1;
        }
        .SidebarBody {
            padding: 20px;
        }
        .SidebarFooter {
            padding: 20px 20px;
            background: #f9f9f9;
            border-top: 1px solid #e5e5e5;
        }
    }
    &.sidebarIn {
        padding-left: $sidebarWidth;
        .pageSidebar {
            display: block;
        }
    }
    &.sidebarRight {
        padding-left: 0px;
        padding-right: $sidebarWidth;
        .pageSidebar {
            left: inherit;
            right: 0px;
            @extend.depth-l-1;
        }
    }
    &.pageSidebarWide {
        padding-left: 400px;
        .pageSidebar {
            width: 400px;
        }
    }
    &.pageSidebarSmall {
        padding-left: 270px;
        .pageSidebar {
            width: 270px;
        }
    }
}
.BookingLayout {
    margin-bottom: 10px;
}
.roomBlock {
    display: block;
    width: 100%;
    background: #f9f9f9;
    position: relative;
    padding-left: 100px + 1;
    .roomBlockTitle {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 500;
        box-shadow: 0px 0px 0px 1px #ccc;
    }
    .dayBlock {
        display: inline-block;
        float: left;
        width: 50%;
        background: #fff;
        box-shadow: 0px 0px 0px 1px #ccc;
        &:nth-child(2) {
            background: #f90;
            padding-right: 10px;
        }
        .hourBlock {
            display: inline-block;
            float: left;
            height: 40px;
            line-height: 40px;
            width: 4.166666666666667%;
            text-align: center;
            font-size: 12px;
            box-shadow: 0px 0px 0px 1px #ccc;
            background: white;
            &.ui-selected, &.ui-selecting {
                background: #eee;
            }
            &.booked {
                background: lighten(saturate($mainColor, 30%), 40%);
                pointer-events: none;
            }
        }
    }
}
.ui-selectable-helper {
    display: none
}
.table-booking {
    background: white;
    margin-bottom: 0px;
    td {
        padding: 0px!important;
        vertical-align: middle!important;
        text-align: center;
        position: relative;
        &.cell {
            height: 40px;
            width: 26px;
            &.booked {
                position: relative;
                &:before {
                    content: '';
                    height: calc(100% + 2px);
                    width: calc(100% + 2px);
                    background: rgba(lighten(#f90, 20%), .6);
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    z-index: 1;
                }
            }
            &.ui-selected, &.ui-selecting, &.HoursColSelected {
                position: relative;
                &:before {
                    content: '';
                    height: calc(100% + 2px);
                    width: calc(100% + 2px);
                    background: rgba(lighten(#09f, 20%), .6);
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    z-index: 1;
                }
            }
        }
        &.hcell {
            height: 70px;
            width: 26px;
            background: #fcfcfc;
            font-weight: 500;
            div {
                position: absolute;
                white-space: nowrap;
                line-height: 26px;
                font-size: 12px;
                z-index: 1;
                left: 50%;
                bottom: -16px;
                transform-origin: top left;
                transform: rotate(-90deg) translateY(-50%);
            }
        }
        &.dcell {
            height: 30px;
            font-weight: 500;
        }
        &.rcell {
            font-weight: 500;
            background: #fcfcfc;
            &.rcell2 {
                div {
                    position: absolute;
                    white-space: nowrap;
                    line-height: 26px;
                    font-size: 12px;
                    z-index: 1;
                    left: 50%;
                    bottom: -16px;
                    transform-origin: top left;
                    transform: rotate(-90deg) translateY(-50%);
                }
            }
        }
    }
    table {
        width: 100%;
        tr {
            td {
                border-right: 1px solid #ddd;                
                height: 40px;
                font-weight: 500;
                &:last-child {
                    border-right: 0px;
                }
                &.active {
                    background: #fcfcfc;
                }
            }
        }
    }
}
.rlabel {
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: calc(100% + 2px);
    width: 2px;
    background: #f90;
    z-index: 2;
    &.rlabel-ready {
        background: #4CAF50;
    }
    &.rlabel-cleanup {
        background: #FFA000;
    }
    &.rlabel-dirty {
        background: red;
    }
}
.spaceType {
    background: #fafafa;
    @extend .ul;
    @extend .depth-b-1;
    >li {
        display: inline-block;
        float: left;
        width: 20%;
        text-align: center;
        border-left: 1px solid #e5e5e5;
        &:first-child {
            border-left: 0px;
        }
        >label {
            padding: 10px;
            margin: 0px;
            display: block;
            cursor: pointer;
            position: relative;
            background: transparent;
            border-bottom: 2px solid transparent;
            @extend .font-normal;
            input[type=checkbox] {
                display: none;
            }
            >i {
                display: inline-block;
                height: 60px;
                width: 60px;
                border-radius: 100%;
                background-color: lighten($mainColor, 45%) !important;
                background-size: 40px!important;
                background-repeat: no-repeat!important;
                background-position: center center!important;
            }
            >strong {
                display: block;
            }
            small {
                font-weight: normal;
            }
            &.active {
                background: white;
                z-index: 1;
                border-bottom-color: $mainColor;
                &:before {
                    display: block;
                }
            }
        }
    }
}
.whiteboxpanel {
    display: none;
    &.active {
        display: block;
    }
}
.duplicater {
    border-top: 1px solid #ccc;
    padding: 20px 0px;
    position: relative;
    .duplicaterTitle {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 20px;
        line-height: 20px;
        background: white;
        margin-top: -10px;
        padding: 0px 0px;
        padding-right: 5px;
    }
    .duplicaterRemove {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-top: -10px;
        border: 0px;
        background: white;
        height: 20px;
        line-height: 20px;
        padding: 0px 0px;
        padding-left: 5px;
    }
    &:last-child {
        padding-bottom: 0px;
    }
    &:nth-child(2) {
        .duplicaterRemove {
            display: none;
        }
    }
}
.table-custom {
    background: white;
    thead {
        tr {
            th {
                border-bottom-width: 1px;
                padding-top: 15px;
                padding-bottom: 15px;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }
            }
        }
    }
    tbody {
        >tr {
            td {
                vertical-align: middle;
                &:first-child {
                    padding-left: 20px;
                }
                &:last-child {
                    padding-right: 20px;
                }
            }
        }
    }
    &.table-custom-px-0 {
        thead {
            tr {
                th {
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
        tbody {
            >tr {
                td {
                    &:first-child {
                        padding-left: 0px;
                    }
                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}
label.error, em.error, span.error {
    color: #f00;
    margin-top: 5px;
    font-size: 10px;
    font-weight: normal;
    &:before {
        font-family: Font Awesome\ 5 Pro;
        content: '\f06a';
        margin-right: 3px;
        font-weight: normal;
    }
}
.spinny {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(#aaa, .3);
    z-index: 999999;
    .spinnyLoader {
        position: absolute;
        height: 60px;
        width: 100px;
        background: white;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -50px;
        border-radius: 5px;
        @extend .depth-b-1;
    }
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        margin-left: -20px;
        margin-top: -20px;
        font-size: 25px;
        color: #999;
    }
}
.sweetyOverlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(#aaa, .3);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    &[data-show="true"] {
        opacity: 1;
        visibility: visible;
    }
}
.sweety {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    background: white;
    padding: 20px;
    z-index: 9999;
    text-align: center;
    transform: translate(-50%, -50%) scale(1.2);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    border-radius: 5px;
    @extend .depth-b-1;
    .sweetyTitle {
        font-size: 16px;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-weight: normal;
        strong {
            display: block;
            margin-top: 5px;
        }
    }
    &[data-show="true"] {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }
}
.noty {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #f90;
    padding: 20px;
    padding-left: 20px + 40 + 10;
    padding-right: 40px;
    z-index: 9999;
    color: white;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    transform: translateY(50px);
    &[data-show="true"] {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    i {
        position: absolute;
        left: 20px;
        top: 50%;
        display: block;
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        font-style: normal;
        font-size: 30px;
        margin-top: -20px;
        &:before {
            font-family: Font Awesome\ 5 Pro;
            content: '\f071';
            font-weight: 300;
        }
    }
    strong {
        text-transform: capitalize;
    }
    p {
        margin-bottom: 0px;
    }
    &.success {
        @extend .bg-success;
        i {
            &:before {
                content: '\f058';
            }
        }
    }
    &.danger {
        @extend .bg-danger;
        i {
            &:before {
                content: '\f071';
            }
        }
    }
    &.warning {
        @extend .bg-warning;
        i {
            &:before {
                content: '\f071';
            }
        }
    }
    &.info {
        @extend .bg-info;
        i {
            &:before {
                content: '\f05a';
            }
        }
    }
}
.responsive-table {
    position: relative;
    @extend .clear;
    .dt-loading {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: white;
        @extend .depth-b-1;
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            margin-left: -20px;
            margin-top: -20px;
            font-size: 25px;
            color: #999;
        }
    }
}
.dataTables_wrapper {
    @extend .depth-b-1;
    .searchwrp {
        background: #f9f9f9;
        margin: 0px;
        padding: 6px 10px;
        display: block;
        border-bottom: 1px solid #e5e5e5;
        @extend .clear;
        span {
            width: 150px;
            float: right;
            position: relative;
            display: inline-block;
            input {
                border-radius: 30px;
            }
            &:before {
                font-family: Font Awesome\ 5 Pro;
                content: '\f002';
                position: absolute;
                right: 10px;
                height: 16px;
                line-height: 16px;
                top: 50%;
                margin-top: -8px;
            }
        }
    }
    .dataTables_paginate {
        display: inline-block;
        float: right;
        @extend .depth-b-1;
        overflow: hidden;
        border-radius: 3px;
        a, span>span {
            display: inline-block;
            background: white;
            color: #676767;
            height: 30px;
            line-height: 30px;
            padding: 0px 10px;
            cursor: pointer;
            &:hover {
                background: #f5f5f5;
            }
            &.previous {
                padding-left: 20px;
            }
            &.next {
                padding-right: 20px;
            }
            &.current {
                background: $mainColor;
                border-color: $mainColor;
                color: white;
            }
        }
    }
    .dataTables_info {
        display: inline-block;
        float: left;
    }
    table {
        margin-bottom: 10px;
        thead {
            th {
                cursor: pointer;
                &[class^="sorting"] {
                    &:before {
                        font-family: Font Awesome\ 5 Pro;
                        content: '\f0dc';
                        margin-right: 5px;
                    }
                    &.sorting_desc {
                        &:before {
                            content: '\f0dd';
                        }
                    }
                    &.sorting_asc {
                        &:before {
                            content: '\f0de';
                        }
                    }
                }
            }
        }
    }
}
.logBlockScrollY {
    max-height: 450px;
    overflow-y: auto;
}
.logBlock {
    background: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    p {}
}
[pos-product] {
    position: relative;
    i {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba($mainColor, .7);
        &:before {
            position: absolute;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            background: white;
            border-radius: 100%;
            left: 50%;
            top: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: $mainColor;
        }
    }
    &:hover {
        border-color: $mainColor;
        cursor: pointer;
    }
    &.selected {
        border-color: $mainColor;
        cursor: pointer;
    }
}
.reports-menu {
    li {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        &:first-child {
            border-top: 1px solid #e5e5e5;
        }
        a {
            color: #676767;
            display: block;
            padding: 10px 20px;
            transition: all .3s ease;
            @extend .font-bold;
        }
        &:hover {
            a {
                background: #f9f9f9;
            }
        }
        &.active {
            a {
                background: #eee;
            }
        }
    }
}
.reports-info {
    [tr] {
        [td] {
            width: 22.5%;
            vertical-align: middle;
            text-align: center;
            &:nth-child(2), &:nth-child(4) {
                width: 5%;
                font-size: 16px;
                color: #bbb;
            }
        }
    }
}
.mask-block {
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    .line {
        min-height: 10px;
        background: #eee;
        border-radius: 0px;
    }
    .circle {
        height: 100px;
        width: 100px;
        background: #eee;
        border-radius: 100%;
    }
    .line, .circle {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #eee;
        background: linear-gradient(to right, #eee 8%, #e5e5e5 18%, #eee 33%);
        background-size: 800px 104px;
        position: relative;
    }
    .holder {
        position: relative;
        .valign {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.mask-block-one {
    min-height: 80px;
    background: #fff;
    margin-bottom: 10px;
    padding: 25px;
    .line {
        &:nth-child(1) {
            margin: 0px auto;
            margin-bottom: 10px;
            max-width: 100px;
        }
        &:nth-child(2) {
            margin: 0px auto;
            max-width: 150px;
        }
    }
}
.mask-block-two {
    padding: 20px;
    .holder {
        height: 300px;
    }
    .circle {
        height: 300px;
        width: 300px;
        margin: 0px auto;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            height: 200px;
            width: 200px;
            border-radius: 100%;
            background: #fff;
            transform: translate(-50%, -50%);
        }
    }
    .line {
        margin-bottom: 10px;
        &:nth-child(1) {
            width: 150px;
        }
        &:nth-child(2) {
            width: 130px;
        }
        &:nth-child(3) {
            width: 180px;
        }
        &:nth-child(4) {
            width: 150px;
        }
        &:nth-child(5) {
            width: 130px;
        }
        &:nth-child(6) {
            width: 180px;
        }
        &:nth-child(7) {
            width: 50px;
        }
        &:nth-child(8) {
            width: 100px;
        }
    }
}
.mask-block-three {
    .line {
        margin-bottom: 20px;
        &:first-child {
            margin-top: 25px;
        }
        &:last-child {
            margin-bottom: 25px;
        }
    }
}
.loading-area {
    position: relative;
}
[after-loading] {
    // border: 1px solid #09f;
}
[after-loading], [before-loading] {
    visibility: hidden;
    &.active {
        visibility: visible;
    }
    &.inactive {
        position: fixed;
        left: 0px;
        top: 0px;
        pointer-events: none;
        z-index: -99999;
    }
}
.staff-attendance-table {
    .adjustable-col {
        position: relative;
        height: 90px;
        div {
            position: absolute;
            white-space: nowrap;
            line-height: 26px;
            font-size: 12px;
            z-index: 1;
            left: 50%;
            bottom: -16px;
            transform-origin: top left;
            transform: rotate(-90deg) translateY(-50%);
        }
    }
    .present {
        position: relative;
        text-align: center;
        span {
            position: relative;
            z-index: 2;
            color: white;
            @extend .font-bold;
        }
        &:before {
            content: '';
            position: absolute;
            left: 3px;
            top: 3px;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            background: #00c292;
            border-radius: 3px;
            z-index: 1;
        }
    }
    .absent {
        position: relative;
        text-align: center;
        span {
            position: relative;
            z-index: 2;
            color: white;
            @extend .font-bold;
        }
        &:before {
            content: '';
            position: absolute;
            left: 3px;
            top: 3px;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            background: #fb9678;
            border-radius: 3px;
            z-index: 1;
        }
    }
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}
.ui-slider {
    background: #ddd;
    height: 5px;
    position: relative;
    margin: 7.5px 0px;
    .ui-slider-handle {
        position: absolute;
        top: 50%;
        margin-top: -7.5px;
        display: block;
        height: 15px;
        width: 15px;
        background: $mainColor;
        border-radius: 100%;
        &[style="left: 100%;"] {
            right: 0px!important;
            left: inherit!important;
        }
    }
}
.ui-timepicker-div {
    .ui-datepicker-title {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }
    .ui_tpicker_unit_hide {
        display: none;
    }
    dl {
        display: block;
        margin-bottom: 0px;
        @extend .clear;
        dt, dd {
            display: inline-block;
            float: left;
            height: 30px;
        }
        dt {
            width: 25%;
            line-height: 30px;
        }
        dd {
            width: 75%;
        }
    }
    .ui_tpicker_time_input, select {
        border: 0px;
        background: transparent;
        height: 30px;
        font-weight: bold;
        -webkit-appearance: none;
    }
    .ui-slider {
        margin: 12.5px 0px;
    }
}
.ui-datepicker {
    display: none;
    background: white;
    box-shadow: 0px 5px 20px rgba(black, .2);
    border: 1px solid #ccc;
    padding: 20px;
    .ui-datepicker-header {
        position: relative;
        margin-bottom: 10px;
        .ui-datepicker-prev, .ui-datepicker-next {
            position: absolute;
            top: 0px;
            span {
                display: block;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
                &:before {
                    font-family: Font Awesome\ 5 Pro;
                    color: #676767;
                }
            }
        }
        .ui-datepicker-prev {
            left: 0px;
            span {
                &:before {
                    content: '\f060';
                }
            }
        }
        .ui-datepicker-next {
            right: 0px;
            span {
                &:before {
                    content: '\f061';
                }
            }
        }
        .ui-datepicker-title {
            text-align: center;
            height: 30px;
            line-height: 30px;
            vertical-align: top;
        }
    }
    .ui-datepicker-calendar {
        width: 100%;
        td, th {
            border: 1px solid #ccc;
        }
        th {
            text-align: center;
            span {
                display: block;
                padding: 8px;
            }
        }
        td {
            text-align: right;
            &.ui-datepicker-unselectable {
                background: #f9f9f9;
            }
            a, span {
                display: block;
                padding: 8px;
                color: #676767;
                &.ui-state-active, &.ui-state-highlight {
                    background: lighten($mainColor, 40%);
                    color: darken($mainColor, 10%);
                }
            }
        }
    }
    .ui-datepicker-buttonpane {
        button {
            background: $mainColor;
            border: 0px;
            height: 40px;
            padding: 0px 20px;
            color: white;
            border-radius: 2px;
            margin-top: 10px;
            margin-right: 5px;
        }
    }
}
.chart-container {
    position: relative;
    .chart {
        height: 300px;
        margin: 0px;
    }
}
[welcome]{
    display: inline-block;
    padding: 40px 50px;
    margin:0px;
}
@media(max-width:1000px) {
    section.navigation {
        .logo {
            font-size: 16px;
        }
    }
}
@media(max-width: 768px) {
    // *{
    //     box-shadow: 0px 0px 0px 1px #f00;
    // }
    .chart-container {
        .chart {
            height: 200px;
        }
    }
    section.navigation {
        .logo {
            padding: 0px 10px;
        }
    }
    section.pageWrapper {
        // padding: 0px!important;
        .pageHeader {
            padding: 0px 10px;
        }
        .pageBody {
            padding: 10px;
        }
        .pageFooter {
            // height: 0px;
            overflow: hidden;
        }
        .pageSidebar {
            position: static;
            width: 100%!important;
        }
    }
    [table] {
        &[responsive] {
            display: block;
            width: 100%;
            [tr] {
                display: block;
                width: 100%;
                [td] {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .responsive-table {
        position: relative;
        .dataTables_wrapper {
            box-shadow: none;
            text-align: center;
            .dataTables_info {
                float: none;
                display: block;
                margin-bottom: 10px;
            }
            .dataTables_paginate {
                float: none;
            }
        }
        table, thead, tbody, tfoot, tr, td {
            display: block;
            width: 100%;
        }
        table {
            border: 0px;
            background: none;
        }
        thead {
            margin-bottom: 10px;
            &:before, &:after {
                content: '';
                display: table;
                clear: both;
            }
            th {
                display: inline-block;
                float: left;
                width: 50%!important;
                border: 1px solid #ddd!important;
                padding: 10px!important;
                background: #f9f9f9;
                margin-left: -1px;
                margin-bottom: 5px;
                position: relative;
                left: 1px;
                &.no-sort {
                    display: none;
                }
                &.sorting_desc, &.sorting_asc {
                    background: white;
                }
            }
        }
        tbody {
            tr {
                background: white;
                border: 1px solid #ddd!important;
                margin-bottom: 10px;
                td {
                    padding-left: 30%!important;
                    position: relative;
                    text-align: left!important;
                    &:first-child {
                        border-top: 0px;
                    }
                    &:before {
                        content: attr(data-label);
                        margin-right: 20px;
                        width: 30%;
                        position: absolute;
                        left: 10px;
                        top: 8px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .spaceType {
        >li {
            width: 50%;
            border-bottom: 1px solid #e5e5e5;
            &:nth-last-child(2) {
                width: 100%;
                float: none;
                border-bottom: none;
            }
        }
    }
}
.freshup-calendar {
    position: relative;
    width: 100%;
    padding-left: 80px;
    background: white;
    table {
        margin: 0px;
    }
    .fc-sidebar {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 80px;
        background: #f9f9f9;
    }
    .fc-body {
        .fc-x-scroll {
            width: 100%;
            overflow-x: auto;
        }
    }
}
[HR-scrolling] {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    &:before {
        content: attr(data-scroll);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 555;
    }
    [HR-ul] {
        @extend .ul;
        @extend .clear;
        position: relative;
        li {
            display: inline-block;
            float: left;
            span {
                display: block;
                padding: 20px 20px;
                background: #f90;
            }
        }
    }
}
.table-privileges {
    .checkbox-inline, .checkbox {
        margin: 0px;
    }
}
.privilege {
    border: 1px solid #ccc;
    ul {
        @extend .ul;
        @extend .clear;
        position: relative;
        border-left: 2px solid #ccc;
        &.head {
            @extend .bg-default;
        }
        li {
            display: block;
            border-top: 1px solid #ccc;
            padding-left: 30px;
            margin-top: -1px;
            .prive_row {
                display: block;
                padding: 10px 0px;
                font-weight: normal;
                .checkbox-inline {
                    float: right;
                    margin-left: 20px;
                    width: 100px;
                    vertical-align: top;
                }
            }
        }
    }
}
.captureScreen {
    min-height: 300px;
    background: #ccc;
    margin-bottom: 10px;
}
.proofs {
    img {
        height: 80px;
    }
    div {
        margin: 5px 0px;
    }
}
.bootstrap-tagsinput {
    width: 100%;
    padding: 5.2px 6px;
    box-shadow: none;
    border-radius: 0px;
}
.page-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    text-align: center;
    .whitebox {
        padding: 40px;
        border-radius: 10px;
    }
}
tags-input {
    @extend .clear;
    .host {
        background: white;
        border: 1px solid #ccc;
        min-height: 34px;
        outline: none;
        @extend .clear;
    }
    .tag-list {
        @extend .ul;
        @extend .clear;
        display: inline-block;
        float: left;
        padding: 5px 0px 0px 0px;
        vertical-align: top;
        li {
            display: inline-block;
            float: left;
            background: $mainColor;
            color: white;
            height: 24px;
            line-height: 24px;
            padding: 0px 10px;
            padding-right: 24px;
            border-radius: 24px;
            margin-left: 4px;
            position: relative;
            overflow: hidden;
            vertical-align: top;
            margin-bottom: 5px;
            .remove-button {
                display: block;
                position: absolute;
                right: 0px;
                top: 0px;
                height: 24px;
                width: 24px;
                cursor: pointer;
                &:before {
                    font-family: Font Awesome\ 5 Pro;
                    content: '\f00d';
                    text-indent: 0px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    line-height: 24px;
                    text-align: center;
                    background: $mainColor;
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }
    .input {
        display: inline-block;
        float: left;
        vertical-align: top;
        height: 34px;
        border: 0px;
        padding: 0px 10px;
        background: transparent;
        outline: none;
        &.invalid-tag {
            color: #f00;
        }
    }
}
.manageStayingTypes {
    @extend .ul;
    @extend .clear;
    margin-bottom: 20px;
    >li {
        border: 1px solid #e5e5e5;
        padding: 10px;
        margin-bottom: -1px;
        .checkbox-inline {
            margin: 0px;
            label {
                font-size: 18px;
            }
        }
        small {
            float: right;
            display: inline-block;
            line-height: 24px;
            height: 24px;
            background: #eee;
            color: #999;
            padding: 0px 10px;
            border-radius: 20px;
            margin-top: -2px;
        }
        >ul {
            @extend .ul;
            @extend .clear;
            background: white;
            border: 1px solid #e5e5e5;
            margin-top: 10px;
            li {
                display: block;
                border-bottom: 1px solid #e5e5e5;
                padding: 10px 20px;
                &:last-child {
                    border-bottom: 0px;
                }
                .actions {
                    float: right;
                    display: inline-block;
                    .radio-inline {
                        width: 100px;
                    }
                }
            }
        }
    }
}
.dynamic-search {
    position: relative;
    .dynamic-search-result {
        position: absolute;
        top: 100%;
        left: 0px;
        min-width: 100%;
        padding: 5px 0px;
        background: white;
        z-index: 99;
        box-shadow: 0px 5px 20px rgba(black, .2);
        border: 1px solid #ccc;
        ul {
            @extend .ul;
            li {
                display: block;
                padding: 5px 20px;
                &:hover {
                    background: #eee;
                    cursor: pointer;
                }
            }
        }
    }
}
.bootstrap-datetimepicker-widget {
    table {
        td {
            &.disabled {
                opacity: 0.4;
            }
            &.active {
                background: $mainColor;
                &:hover {
                    background: $mainColor;
                }
            }
            &.today {
                &:before {
                    border-bottom-color: $mainColor;
                }
            }
        }
    }
}
.custom-form {
    .form-group {
        position: relative;
        padding-left: 100px;
        label:not(.error) {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 2;
            width: 100px;
        }
    }
}
.contact_info_td {
    [data-toggle="collapse"] {
        &:before {
            font-family: 'Font Awesome 5 Pro';
        }
        &[aria-expanded="false"] {
            &:before {
                content: "\f055";
            }
        }
        &[aria-expanded="true"] {
            &:before {
                content: "\f056";
            }
        }
    }
}
.grid {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    .col {
        flex: 1;
        padding: 0px 5px;
        margin-bottom: 10px;
    }
}
.sameheight001 {
    .whitebox {
        height: 100%;
    }
}
.modal {
    overflow-y: auto;
}
.upper-grid {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    .ug-col {
        flex-grow: 1;
        padding: 5px;
        .whitebox {
            margin-bottom: 0px;
            height: 100%;
        }
        &:last-child{
             flex-grow: 0;
        flex-basis: 26%;

        }
    }
}
.other-forms {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    .of-col {
        display: flex;
        flex-grow: 1;
            padding:10px 20px;
            background: #fff;
            margin-bottom: 10px;
            @extend .depth-b-1;
            &:last-child{
                margin-bottom: 0px;
            }
            .inner{
                display: flex;
                align-items: center;
                h4{
                    margin-top: 0px;
                }
                i{
                    display: block;
                    height: 70px;
                    line-height: 70px;
                    width: 70px;
                    text-align: center;
                    background: $mainColor;
                    color: white;
                    border-radius: 100%;
                    font-size: 30px;
                    margin-right: 20px;
                }

            }
    }
}
.booking-type{
    padding-left: 250px;
    position: relative;
        ul{
            @extend .ul;
            width: 250px;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;

            li{
                display: block;
                margin-bottom: 10px;
                margin-right: 0px;
                a{
                    display: block;
                    background: #f5f5f5;
                    padding: 20px;
                    padding-left: 80px;
                    position: relative;
                    @extend .depth-b-1;
                    strong,small{
                        display: block;
                        color: #676767;
                    }
              
                    i{
                        display: block;
                        height: 50px;
                        width: 50px;
                        background: transparent;
                        border-radius: 100%;
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        margin-top: -25px;

                        span{
                            display: block;
                            height: 40px;
                            width: 40px;
                            background-size: 40px;
                            background-repeat: no-repeat;
                            background-position: center;
                            margin-left: 5px;
                            margin-top: 5px;

                        }
                    }
                }
                &.active{
                 a{
                       background: white;
                    strong,small{
                        
                    }
              
                 }
                }

            }
        }
    .booking-type-box{
        background: white;
        padding: 20px;
        position: relative;
        z-index: 2;
        @extend .depth-b-1;
    
    }
}
.notifications{
    position: relative;
    .notifications-menu{
        position: absolute;
        top: 100%;
        right: 0px;
        padding: 0px 0px;
        background-color: #f7f7f7;
        width: 300px;
        border: 1px solid #ccc;
        display: none;
        @extend .depth1;
        >a{
            display: block;
            padding: 10px 20px;
            border-bottom: 1px solid #ccc;
            background-color: #f7f7f7;
            color: #676767;
            &:last-child{
                border-bottom: 0px;
            }
         
            &.unread{
                background-color: white;

            }
               &:hover{
                background-color: #eee;
            }
        }
    }
    &.active{
        .notifications-menu{
            display: block;
        }
    }
}
// *{
//     box-shadow: 0px 0px 0px 1px #f00;
// }
// @media(max-width: 768px) {
//     body {
//         display: none;
//     }
//     html:before {
//         content: 'This Application Currenty Availble on Desktop Version Only.';
//         padding: 20px;
//         font-size: 20px;
//         text-align: center;
//         text-transform: capitalize;
//         display: block;
//     }
// }
// .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
//     background-color: $mainColor;
// }