@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("utility.css");
* {
	text-decoration: none !important
}

/********update css start*********/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  
    background-color: #ff7b12;

}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #ff7b12;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #ff7b12;
    border-color: #adadad;
}
/********update css end*********/

.tooltip {
	white-space: nowrap
}

.font-normal,
body,
.spaceType>li>label {
	font-weight: normal
}

.font-bold,
b,
strong,
label,
th,
.table-total>td,
.whitebox .whiteboxHead strong,
[role="tablist"]>li>a,
section.navigation .logo,
section.pageWrapper .pageSidebar .SidebarHead,
.reports-menu li a,
.staff-attendance-table .present span,
.staff-attendance-table .absent span {
	font-weight: bold
}

.font-semi-bold,
section.navigation .menu>ul>li>a {
	font-weight: 500
}

.bg-default,
.privilege ul.head {
	background: #f9f9f9 !important
}

.bg-primary {
	background-color: #ab8ce4 !important
}

.bg-success,
.noty.success {
	background-color: #00c292 !important
}

.bg-info,
.noty.info {
	background-color: #03a9f3 !important
}

.bg-warning,
.noty.warning {
	background-color: #fec107 !important
}

.bg-danger,
.noty.danger {
	background-color: #fb9678 !important
}

.bg-theme {
	background-color: #ff6849 !important
}

.bg-theme-dark {
	background-color: #4F5467 !important
}

.bg-inverse {
	background-color: #4c5667 !important
}

.bg-purple {
	background-color: #9675ce !important
}

.bg-white {
	background-color: #fff !important
}

.bg-special {
	background: #fbf5dc !important
}

.br-1 {
	border-right: 1px solid #e5e5e5
}

.brt-0 {
	border-top: 0px !important
}

.depth-b-1,
.whitebox,
.modal .modal-dialog .modal-content,
section.pageWrapper .pageHeader,
section.pageWrapper .pageSidebar .SidebarHead,
.spaceType,
.spinny .spinnyLoader,
.sweety,
.responsive-table .dt-loading,
.dataTables_wrapper,
.dataTables_wrapper .dataTables_paginate,
.other-forms .of-col,
.booking-type ul li a,
.booking-type .booking-type-box {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.depth-t-1,
section.pageWrapper .pageFooter {
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1), 0px -1px 3px rgba(0, 0, 0, 0.1)
}

.depth-r-1,
section.pageWrapper .pageSidebar {
	box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.depth-l-1,
section.pageWrapper.sidebarRight .pageSidebar {
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), -1px 1px 3px rgba(0, 0, 0, 0.1)
}

.depth1,
section.navigation .menu>ul>li>ul,
section.navigation .menu>ul>li>ul>li>ul,
.notifications .notifications-menu {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2)
}

.gradient,
section.navigation {
	background: #79B833
}

.label {
	padding: 7px 15px;
	border-radius: 25px
}

.label-custom {
	background-color: #01c0c8
}

.label-success {
	background-color: #00c292
}

.label-info {
	background-color: #03a9f3
}

.label-warning {
	background-color: #fec107
}

.label-danger {
	background-color: #fb9678
}

.label-megna {
	background-color: #01c0c8
}

.label-primary {
	background-color: #79B833
}

.label-purple {
	background-color: #9675ce
}

.label-red {
	background-color: #fb3a3a
}

.label-inverse {
	background-color: #4c5667
}

.text-white {
	color: #ffffff !important
}

.text-danger {
	color: #fb9678 !important
}

.text-muted {
	color: #8d9ea7 !important
}

.text-warning {
	color: #fec107 !important
}

.text-success {
	color: #00c292 !important
}

.text-info {
	color: #03a9f3 !important
}

.text-inverse {
	color: #4c5667 !important
}

.text-blue {
	color: #02bec9 !important
}

.text-purple {
	color: #9675ce !important
}

.text-primary {
	color: #79B833 !important
}

.text-megna {
	color: #01c0c8 !important
}

.text-dark {
	color: #686868 !important
}

.color-confirmed {
	color: #01992a
}

.color-guest {
	color: #0101e0
}

.color-completed {
	color: #9d009e
}

.color-cancelled {
	color: #ee0001
}

.color-unconfirmed {
	color: #f5a501
}

.border-confirmed {
	border-left: 3px solid #01992a
}

.border-guest {
	border-left: 3px solid #0101e0
}

.border-completed {
	border-left: 3px solid #9d009e
}

.border-cancelled {
	border-left: 3px solid #ee0001
}

.border-unconfirmed {
	border-left: 3px solid #f5a501
}

.no-wrap {
	white-space: nowrap
}

.btn-file {
	position: relative;
	overflow: hidden
}

.title-line {
	overflow: hidden;
	display: block;
	margin: 20px 0px
}

.title-line span {
	display: inline-block;
	position: relative;
	padding: 0px 5px;
	margin: 0px
}

.title-line span:before,
.title-line span:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 1200px;
	height: 1px;
	background: #e5e5e5
}

.title-line span:before {
	right: 100%
}

.title-line span:after {
	left: 100%
}

.title-line.text-left span {
	padding-left: 0px
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block
}

[table] {
	display: table;
	width: 100%
}

[table] [tr] {
	display: table-row
}

[table] [tr] [td] {
	display: table-cell;
	vertical-align: top
}

[table] [tr] [td][btn] {
	white-space: nowrap;
	width: 32px
}

[table] [tr] [td][btn] .btn {
	display: block;
	width: 30px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
	margin-left: 2px
}

.table-total>td {
	background: #F7941E;
	color: white;
	font-size: 16px
}

.table-total>td:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 15px
}

.table-total>td:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-right: 15px
}

.table-devider>td {
	border-top-width: 1px !important;
	border-top-color: #999 !important
}

.ul,
.ul-inline,
.ul-block,
.ul-list-one,
[role="tablist"],
section.navigation .menu>ul>li>ul,
section.navigation .menu>ul>li>ul>li>ul,
.mmenu .menu>ul,
.spaceType,
[HR-scrolling] [HR-ul],
.privilege ul,
tags-input .tag-list,
.manageStayingTypes,
.manageStayingTypes>li>ul,
.dynamic-search .dynamic-search-result ul,
.booking-type ul {
	padding: 0px;
	margin: 0px;
	list-style: none
}

.ul-inline li {
	display: inline-block;
	padding: 5px 0px;
	margin-right: 10px
}

.ul-inline li i {
	margin-right: 5px
}

.ul-block>li {
	    margin: 8px 0;
    display: block;
    padding: 8px 8px;
    border: 1px solid #000;
}

.ul-list-one>li {
	display: block;
	padding: 10px 0px;
	border-bottom: 1px solid #e5e5e5
}

.ul-list-one>li:last-child {
	border-bottom: 0px
}

.ul-list-one>li>span {
	float: right
}

.rm-10 {
	margin-left: -10px !important;
	margin-right: -10px !important
}

.cp-10 {
	padding-left: 10px !important;
	padding-right: 10px !important
}

.rm-5 {
	margin-left: -5px !important;
	margin-right: -5px !important
}

.cp-5 {
	padding-left: 5px !important;
	padding-right: 5px !important
}

.dropdown .dropdown-menu {
	margin: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 5px 20px rgba(0, 0, 0, 0.2);
	border: 0px;
	display: block;
	visibility: hidden;
	opacity: 0
}

.dropdown .dropdown-menu>li {
	position: relative
}

.dropdown .dropdown-menu>li>a {
	padding-top: 8px;
	padding-bottom: 8px
}

.dropdown.open .dropdown-menu {
	visibility: visible;
	opacity: 1
}

.panel {
	box-shadow: none;
	margin-bottom: 10px
}

.panel .panel-heading {
	padding: 0px;
	background: white;
	color: #676767
}

.panel .panel-heading .panel-title {
	padding: 10px 15px
}

.panel .panel-heading .panel-title i {
	font-style: normal;
	font-weight: 300;
	float: right;
	cursor: pointer
}

.panel .panel-heading .panel-title i:before {
	font-family: Font Awesome\ 5 Pro
}

.panel .panel-heading .panel-title i[aria-expanded="false"]:before {
	content: '\f078'
}

.panel .panel-heading .panel-title i[aria-expanded="true"]:before {
	content: '\f077'
}

.whitebox {
	padding: 20px;
	background: white;
	margin-bottom: 20px
}

.whitebox .whiteboxHead {
	margin: -20px;
	margin-bottom: 20px;
	padding: 0px 100px 0px 20px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
	background: white
}

.whitebox .whiteboxHead strong {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-weight: normal
}

.whitebox .whiteboxHead span {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%)
}

.whitebox.bordered {
	box-shadow: none;
	border: 1px solid #e5e5e5
}

.whitebox.whitebox-login {
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 50px 30px;
	transform: translate(-50%, -50%)
}

.checkbox,
.checkbox-inline {
	padding: 0px
}

.checkbox label,
.checkbox-inline label {
	position: relative;
	margin: 0px;
	padding-left: 28px;
	line-height: 20px;
	vertical-align: top
}

.checkbox label span,
.checkbox-inline label span {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 20px;
	background: transparent;
	text-align: center;
	border: 2px solid #bbb;
	border-radius: 2px;
	cursor: pointer
}

.checkbox label span:before,
.checkbox-inline label span:before {
	content: "\2713 ";
	color: #79B833;
	display: none
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	display: none
}

.checkbox input[type="checkbox"]:checked+span,
.checkbox-inline input[type="checkbox"]:checked+span {
	background: #79B833;
	border-color: #79B833
}

.checkbox input[type="checkbox"]:checked+span:before,
.checkbox-inline input[type="checkbox"]:checked+span:before {
	display: block;
	color: white
}

.radio,
.radio-inline {
	padding: 0px;
	cursor: pointer
}

.radio label,
.radio-inline label {
	position: relative;
	margin: 0px;
	padding-left: 28px;
	line-height: 20px
}

.radio label span,
.radio-inline label span {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: transparent;
	border-radius: 100%;
	border: 2px solid #ccc
}

.radio label span:before,
.radio-inline label span:before {
	content: '';
	position: absolute;
	left: 5px;
	top: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #79B833;
	border-radius: 100%;
	display: none
}

.radio input[type="radio"],
.radio-inline input[type="radio"] {
	display: none
}

.radio input[type="radio"]:checked+span:before,
.radio-inline input[type="radio"]:checked+span:before {
	display: block
}

.form-control {
	border-radius: 0px;
	box-shadow: none
}

.form-horizontal .control-label {
	text-align: left;
	white-space: nowrap
}

.clear:before,
[role="tablist"]:before,
.mmenu .menu>ul:before,
.responsive-table:before,
.dataTables_wrapper .searchwrp:before,
.ui-timepicker-div dl:before,
[HR-scrolling] [HR-ul]:before,
.privilege ul:before,
tags-input:before,
tags-input .host:before,
tags-input .tag-list:before,
.manageStayingTypes:before,
.manageStayingTypes>li>ul:before,
.clear:after,
[role="tablist"]:after,
.mmenu .menu>ul:after,
.responsive-table:after,
.dataTables_wrapper .searchwrp:after,
.ui-timepicker-div dl:after,
[HR-scrolling] [HR-ul]:after,
.privilege ul:after,
tags-input:after,
tags-input .host:after,
tags-input .tag-list:after,
.manageStayingTypes:after,
.manageStayingTypes>li>ul:after {
	clear: both;
	content: '';
	display: table
}

[role="tablist"] {
	background: #f9f9f9;
	border-bottom: 1px solid #e5e5e5
}

[role="tablist"]>li {
	float: left;
	display: inline-block;
	border-right: 1px solid #e5e5e5
}

[role="tablist"]>li>a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	text-transform: capitalize;
	color: #676767;
	position: relative
}

[role="tablist"]>li>a:before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: -1px;
	width: 100%;
	background: #fff;
	height: 1px;
	display: none
}

[role="tablist"]>li.active>a {
	background: white
}

[role="tablist"]>li.active>a:before {
	display: block
}

.custom-input {
	position: relative
}

.custom-input .ci-icon {
	position: absolute;
	right: 1px;
	top: 1px;
	height: calc( 100% - 2px);
	width: 30px;
	background: white;
	border-left: 1px solid #ccc;
	pointer-events: none
}

.custom-input .ci-icon i {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	text-align: center;
	font-size: 16px
}

.custom-input .form-control {
	border-radius: 0px;
	box-shadow: none
}

[data-toggle="modal"] {
	cursor: pointer
}

.modal .modal-dialog.modal-fluid {
	width: calc(100% - 40px)
}

.modal .modal-dialog .modal-content {
	border-radius: 0px
}

.modal .modal-dialog .modal-content .modal-header {
	position: relative
}

.modal .modal-dialog .modal-content .modal-header .close {
	height: 24px;
	width: 24px;
	background: transparent;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -12px;
	overflow: hidden;
	text-indent: -999px;
	transform: rotate(45deg);
	opacity: 0.6
}

.modal .modal-dialog .modal-content .modal-header .close:before,
.modal .modal-dialog .modal-content .modal-header .close:after {
	content: '';
	position: absolute;
	background: #333
}

.modal .modal-dialog .modal-content .modal-header .close:before {
	top: 0px;
	left: 50%;
	width: 1px;
	height: 100%;
	margin-left: -1px
}

.modal .modal-dialog .modal-content .modal-header .close:after {
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	margin-top: -1px
}

.placeholder::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
	color: #999
}

.placeholder::-moz-placeholder,
.form-control::-moz-placeholder {
	color: #999
}

.placeholder:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
	color: #999
}

.placeholder:-moz-placeholder,
.form-control:-moz-placeholder {
	color: #999
}

.input-lg {
	font-size: 13px;
	border-radius: 3px;
	box-shadow: none
}

.btn i {
	display: inline-block;
	vertical-align: middle
}

.btn-lg {
	border-radius: 3px;
	font-size: 14px;
	padding: 14px 25px;
	font-weight: 500
}

.btn-w200 {
	width: 200px
}

.btn-primary {
	    background: -moz-linear-gradient(45deg, rgba(255,173,78,1) 0%, rgba(254,111,3,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,173,78,1)), color-stop(100%, rgba(254,111,3,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,173,78,1) 0%, rgba(254,111,3,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,173,78,1) 0%, rgba(254,111,3,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,173,78,1) 0%, rgba(254,111,3,1) 100%);
    background: linear-gradient(45deg, rgba(255,173,78,1) 0%, rgba(254,111,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6f03', endColorstr='#ffad4e',GradientType=1 );
	
	color: #fff
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
/*	background: #79B833 !important;*/
     background: #ff004f;
	
	color: #fff !important
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #598826
}

.tooltip.top .tooltip-arrow {
	border-top-color: #598826
}

.tooltip .tooltip-inner {
	background: #598826;
	border-radius: 2px;
	padding: 5px 10px
}

.ratingOutput {
	padding: 0px
}

body {
	font-size: 13px;
	background: #eee;
	color: #676767
}

section.navigation {
	min-height: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 99;
        background: #532525;
}

section.navigation .logo {
	min-height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	color: white;
	font-size: 20px;
	margin-left: -15px
}

section.navigation .menu {
	display: inline-block;
	vertical-align: top
}

section.navigation .menu>ul {
	display: inline-block;
	vertical-align: top
}

section.navigation .menu>ul>li {
	display: inline-block;
	float: left;
	vertical-align: top;
	padding: 5px 0px;
	position: relative
}

section.navigation .menu>ul>li>a {
	display: block;
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0px 20px;
	font-size: 14px;
	border-radius: 40px;
	transition: all .3s ease;
	position: relative
}

section.navigation .menu>ul>li>a .lbl {
	position: absolute;
	right: -5px;
	top: 0px;
	height: 20px;
	line-height: 20px;
	padding: 0px 7px;
	border-radius: 10px;
	background-color: #f00;
	color: white;
	font-weight: 300;
	font-size: 12px;
	z-index: 66
}

section.navigation .menu>ul>li.icon>a {
	padding: 0px 0px;
	width: 40px;
	text-align: center;
	top: 0px
}

section.navigation .menu>ul>li.icon>a i {
	font-size: 16px;
	vertical-align: middle
}

section.navigation .menu>ul>li.icon.toggle>a i {
	font-size: 25px
}

section.navigation .menu>ul>li.active>a,
section.navigation .menu>ul>li.open>a {
	background: rgba(0, 0, 0, 0.15) !important
}

section.navigation .menu>ul>li:hover>a {
	background: rgba(255, 255, 255, 0.15)
}

section.navigation .menu>ul>li>ul {
	position: absolute;
	top: 100%;
	left: 0px;
	background: white;
	width: 200px;
	border: 1px solid #ccc;
	display: none
}

section.navigation .menu>ul>li>ul.right {
	left: inherit;
	right: 0px
}

section.navigation .menu>ul>li>ul>li {
	display: block;
	position: relative
}

section.navigation .menu>ul>li>ul>li>a {
	display: block;
	padding: 10px 20px;
	color: #676767
}

section.navigation .menu>ul>li>ul>li>ul {
	position: absolute;
	top: 0px;
	left: 100%;
	background: white;
	width: 200px;
	border: 1px solid #ccc;
	display: none
}

section.navigation .menu>ul>li>ul>li>ul.right {
	left: inherit;
	right: 100%
}

section.navigation .menu>ul>li>ul>li>ul>li {
	display: block
}

section.navigation .menu>ul>li>ul>li>ul>li>a {
	display: block;
	padding: 10px 20px;
	color: #676767
}

section.navigation .menu>ul>li>ul>li>ul>li:hover>a {
	background: #f9f9f9
}

section.navigation .menu>ul>li>ul>li:hover>a {
	background: #f9f9f9
}

section.navigation .menu>ul>li>ul>li:hover>ul {
	display: block
}

section.navigation .menu>ul>li>ul li.hasChild>a:after {
	font-family: Font Awesome\ 5 Pro;
	content: '\f054';
	float: right;
	font-weight: 300;
	color: #999
}

section.navigation .menu>ul>li:hover>ul {
	display: block
}

section.navigation .menu.menuRight {
	float: right;
	margin-right: -15px;
	padding-right: 5px
}

.mmenu .menu {
	height: 0px;
	overflow: hidden
}

.mmenu .menu>ul {
	padding: 1px
}

.mmenu .menu>ul>li {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 1px
}

.mmenu .menu>ul>li>a {
	display: block;
	background: white;
	padding: 10px 20px;
	color: #333
}

.mmenu .menu>ul>li>a i {
	float: right
}

.mmenu .menu>ul>li ul {
	width: 100%
}

section.pageWrapper {
	background: transparent;
	padding-top: 50px
}

section.pageWrapper .pageHeader {
	height: 40px;
	padding: 0px 20px;
	  background: linear-gradient(to bottom, #d79790 0%, #DEA790 100%);
	position: relative;
	z-index: 2
}

section.pageWrapper .pageHeader .row {
	margin: 0px
}

section.pageWrapper .pageHeader .row [class^="col"] {
	padding: 0px
}

section.pageWrapper .pageHeader strong {
	line-height: 40px;
	display: block;
	font-size: 16px;
	font-weight: 500;
	    color: #000;
}

section.pageWrapper .pageHeader .actions {
	display: inline-block;
	float: right;
	margin-right: -20px
}

section.pageWrapper .pageHeader .actions>li {
	display: inline-block;
	float: left;
	border-left: 1px solid #e5e5e5
}

section.pageWrapper .pageHeader .actions>li>a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	color: #333;
	font-weight: 500
}

section.pageWrapper .pageHeader .actions>li>.actionsDatepicker {
	display: inline-block;
	position: relative;
	padding: 10px 0px;
	padding-left: 20px;
	margin-right: 20px
}

section.pageWrapper .pageHeader .actions>li>.actionsDatepicker input[type=text] {
	height: 20px;
	width: 100px;
	padding: 0px;
	border: 0px;
	box-shadow: none;
	padding-right: 20px;
	outline: none;
	cursor: pointer
}

section.pageWrapper .pageHeader .actions>li>.actionsDatepicker i {
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -10px;
	pointer-events: none
}

section.pageWrapper .pageBody {
	padding: 20px;
	padding-right: 20px
}

section.pageWrapper .pageFooter {
	display: none;
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	background: white;
	position: relative;
	text-align: center;
	z-index: 2
}

section.pageWrapper .pageSidebar {
	display: none;
	position: fixed;
	left: 0px;
	top: 50px;
	width: 320px;
	height: calc(100% - 50px);
	max-height: calc(100% - 50px);
	background: white;
	overflow-y: hidden;
	z-index: 2
}

section.pageWrapper .pageSidebar .SidebarHead {
	height: 40px;
	line-height: 40px;
	padding: 0px 20px;
	font-size: 16px;
	position: relative;
	z-index: 5
}

section.pageWrapper .pageSidebar .SidebarBody {
	padding: 20px
}

section.pageWrapper .pageSidebar .SidebarFooter {
	padding: 20px 20px;
	background: #f9f9f9;
	border-top: 1px solid #e5e5e5
}

section.pageWrapper.sidebarIn {
	padding-left: 320px
}

section.pageWrapper.sidebarIn .pageSidebar {
	display: block
}

section.pageWrapper.sidebarRight {
	padding-left: 0px;
	padding-right: 320px
}

section.pageWrapper.sidebarRight .pageSidebar {
	left: inherit;
	right: 0px
}

section.pageWrapper.pageSidebarWide {
	padding-left: 400px
}

section.pageWrapper.pageSidebarWide .pageSidebar {
	width: 400px
}

section.pageWrapper.pageSidebarSmall {
	padding-left: 270px
}

section.pageWrapper.pageSidebarSmall .pageSidebar {
	width: 270px
}

.BookingLayout {
	margin-bottom: 10px
}

.roomBlock {
	display: block;
	width: 100%;
	background: #f9f9f9;
	position: relative;
	padding-left: 101px
}

.roomBlock .roomBlockTitle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: 500;
	box-shadow: 0px 0px 0px 1px #ccc
}

.roomBlock .dayBlock {
	display: inline-block;
	float: left;
	width: 50%;
	background: #fff;
	box-shadow: 0px 0px 0px 1px #ccc
}

.roomBlock .dayBlock:nth-child(2) {
	background: #f90;
	padding-right: 10px
}

.roomBlock .dayBlock .hourBlock {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	width: 4.166666666666667%;
	text-align: center;
	font-size: 12px;
	box-shadow: 0px 0px 0px 1px #ccc;
	background: white
}

.roomBlock .dayBlock .hourBlock.ui-selected,
.roomBlock .dayBlock .hourBlock.ui-selecting {
	background: #eee
}

.roomBlock .dayBlock .hourBlock.booked {
	background: #ddfabd;
	pointer-events: none
}

.ui-selectable-helper {
	display: none
}

.table-booking {
	background: white;
	margin-bottom: 0px
}

.table-booking td {
	padding: 0px !important;
	vertical-align: middle !important;
	text-align: center;
	position: relative
}

.table-booking td.cell {
	height: 40px;
	width: 26px
}

.table-booking td.cell.booked {
	position: relative
}

.table-booking td.cell.booked:before {
	content: '';
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	background: rgba(255, 194, 102, 0.6);
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 1
}

.table-booking td.cell.ui-selected,
.table-booking td.cell.ui-selecting,
.table-booking td.cell.HoursColSelected {
	position: relative
}

.table-booking td.cell.ui-selected:before,
.table-booking td.cell.ui-selecting:before,
.table-booking td.cell.HoursColSelected:before {
	content: '';
	height: calc(100% + 2px);
	width: calc(100% + 2px);
	background: rgba(102, 194, 255, 0.6);
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 1
}

.table-booking td.hcell {
	height: 70px;
	width: 26px;
	background: #fcfcfc;
	font-weight: 500
}

.table-booking td.hcell div {
	position: absolute;
	white-space: nowrap;
	line-height: 26px;
	font-size: 12px;
	z-index: 1;
	left: 50%;
	bottom: -16px;
	transform-origin: top left;
	transform: rotate(-90deg) translateY(-50%)
}

.table-booking td.dcell {
	height: 30px;
	font-weight: 500
}

.table-booking td.rcell {
	font-weight: 500;
	background: #fcfcfc
}

.table-booking td.rcell.rcell2 div {
	position: absolute;
	white-space: nowrap;
	line-height: 26px;
	font-size: 12px;
	z-index: 1;
	left: 50%;
	bottom: -16px;
	transform-origin: top left;
	transform: rotate(-90deg) translateY(-50%)
}

.table-booking table {
	width: 100%
}

.table-booking table tr td {
	border-right: 1px solid #ddd;
	height: 40px;
	font-weight: 500
}

.table-booking table tr td:last-child {
	border-right: 0px
}

.table-booking table tr td.active {
	background: #fcfcfc
}

.rlabel {
	position: absolute;
	right: -1px;
	bottom: -1px;
	height: calc(100% + 2px);
	width: 2px;
	background: #f90;
	z-index: 2
}

.rlabel.rlabel-ready {
	background: #4CAF50
}

.rlabel.rlabel-cleanup {
	background: #FFA000
}

.rlabel.rlabel-dirty {
	background: red
}

.spaceType {
	background: #fafafa
}

.spaceType>li {
	display: inline-block;
	float: left;
	width: 20%;
	text-align: center;
	border-left: 1px solid #e5e5e5
}

.spaceType>li:first-child {
	border-left: 0px
}

.spaceType>li>label {
	padding: 10px;
	margin: 0px;
	display: block;
	cursor: pointer;
	position: relative;
	background: transparent;
	border-bottom: 2px solid transparent
}

.spaceType>li>label input[type=checkbox] {
	display: none
}

.spaceType>li>label>i {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 100%;
	background-color: #e9f5db !important;
	background-size: 40px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important
}

.spaceType>li>label>strong {
	display: block
}

.spaceType>li>label small {
	font-weight: normal
}

.spaceType>li>label.active {
	background: white;
	z-index: 1;
	border-bottom-color: #79B833
}

.spaceType>li>label.active:before {
	display: block
}

.whiteboxpanel {
	display: none
}

.whiteboxpanel.active {
	display: block
}

.duplicater {
	border-top: 1px solid #ccc;
	padding: 20px 0px;
	position: relative
}

.duplicater .duplicaterTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	line-height: 20px;
	background: white;
	margin-top: -10px;
	padding: 0px 0px;
	padding-right: 5px
}

.duplicater .duplicaterRemove {
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: -10px;
	border: 0px;
	background: white;
	height: 20px;
	line-height: 20px;
	padding: 0px 0px;
	padding-left: 5px
}

.duplicater:last-child {
	padding-bottom: 0px
}

.duplicater:nth-child(2) .duplicaterRemove {
	display: none
}

.table-custom {
	background: white
}

.table-custom thead tr th {
	border-bottom-width: 1px;
	padding-top: 15px;
	padding-bottom: 15px
}

.table-custom thead tr th:first-child {
	padding-left: 20px
}

.table-custom thead tr th:last-child {
	padding-right: 20px
}

.table-custom tbody>tr td {
	vertical-align: middle
}

.table-custom tbody>tr td:first-child {
	padding-left: 20px
}

.table-custom tbody>tr td:last-child {
	padding-right: 20px
}

.table-custom.table-custom-px-0 thead tr th:first-child {
	padding-left: 0px
}

.table-custom.table-custom-px-0 thead tr th:last-child {
	padding-right: 0px
}

.table-custom.table-custom-px-0 tbody>tr td:first-child {
	padding-left: 0px
}

.table-custom.table-custom-px-0 tbody>tr td:last-child {
	padding-right: 0px
}

label.error,
em.error,
span.error {
	color: #f00;
	margin-top: 5px;
	font-size: 10px;
	font-weight: normal
}

label.error:before,
em.error:before,
span.error:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f06a';
	margin-right: 3px;
	font-weight: normal
}

.spinny {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(170, 170, 170, 0.3);
	z-index: 999999
}

.spinny .spinnyLoader {
	position: absolute;
	height: 60px;
	width: 100px;
	background: white;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	border-radius: 5px
}

.spinny i {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	margin-left: -20px;
	margin-top: -20px;
	font-size: 25px;
	color: #999
}

.sweetyOverlay {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(170, 170, 170, 0.3);
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease
}

.sweetyOverlay[data-show="true"] {
	opacity: 1;
	visibility: visible
}

.sweety {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 400px;
	background: white;
	padding: 20px;
	z-index: 9999;
	text-align: center;
	transform: translate(-50%, -50%) scale(1.2);
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	border-radius: 5px
}

.sweety .sweetyTitle {
	font-size: 16px;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-weight: normal
}

.sweety .sweetyTitle strong {
	display: block;
	margin-top: 5px
}

.sweety[data-show="true"] {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1)
}

.noty {
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: #f90;
	padding: 20px;
	padding-left: 70px;
	padding-right: 40px;
	z-index: 9999;
	color: white;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease;
	transform: translateY(50px)
}

.noty[data-show="true"] {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px)
}

.noty i {
	position: absolute;
	left: 20px;
	top: 50%;
	display: block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	font-style: normal;
	font-size: 30px;
	margin-top: -20px
}

.noty i:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f071';
	font-weight: 300
}

.noty strong {
	text-transform: capitalize
}

.noty p {
	margin-bottom: 0px
}

.noty.success i:before {
	content: '\f058'
}

.noty.danger i:before {
	content: '\f071'
}

.noty.warning i:before {
	content: '\f071'
}

.noty.info i:before {
	content: '\f05a'
}

.responsive-table {
	position: relative
}

.responsive-table .dt-loading {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: white
}

.responsive-table .dt-loading i {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	margin-left: -20px;
	margin-top: -20px;
	font-size: 25px;
	color: #999
}

.dataTables_wrapper .searchwrp {
	background: #f9f9f9;
	margin: 0px;
	padding: 6px 10px;
	display: block;
	border-bottom: 1px solid #e5e5e5
}

.dataTables_wrapper .searchwrp span {
	width: 150px;
	float: right;
	position: relative;
	display: inline-block
}

.dataTables_wrapper .searchwrp span input {
	border-radius: 30px
}

.dataTables_wrapper .searchwrp span:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f002';
	position: absolute;
	right: 10px;
	height: 16px;
	line-height: 16px;
	top: 50%;
	margin-top: -8px
}

.dataTables_wrapper .dataTables_paginate {
	display: inline-block;
	float: right;
	overflow: hidden;
	border-radius: 3px
}

.dataTables_wrapper .dataTables_paginate a,
.dataTables_wrapper .dataTables_paginate span>span {
	display: inline-block;
	background: white;
	color: #676767;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	cursor: pointer
}

.dataTables_wrapper .dataTables_paginate a:hover,
.dataTables_wrapper .dataTables_paginate span>span:hover {
	background: #f5f5f5
}

.dataTables_wrapper .dataTables_paginate a.previous,
.dataTables_wrapper .dataTables_paginate span>span.previous {
	padding-left: 20px
}

.dataTables_wrapper .dataTables_paginate a.next,
.dataTables_wrapper .dataTables_paginate span>span.next {
	padding-right: 20px
}

.dataTables_wrapper .dataTables_paginate a.current,
.dataTables_wrapper .dataTables_paginate span>span.current {
	background: #79B833;
	border-color: #79B833;
	color: white
}

.dataTables_wrapper .dataTables_info {
	display: inline-block;
	float: left
}

.dataTables_wrapper table {
	margin-bottom: 10px
}

.dataTables_wrapper table thead th {
	cursor: pointer
}

.dataTables_wrapper table thead th[class^="sorting"]:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f0dc';
	margin-right: 5px
}

.dataTables_wrapper table thead th[class^="sorting"].sorting_desc:before {
	content: '\f0dd'
}

.dataTables_wrapper table thead th[class^="sorting"].sorting_asc:before {
	content: '\f0de'
}

.logBlockScrollY {
	max-height: 450px;
	overflow-y: auto
}

.logBlock {
	background: #f5f5f5;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 3px
}

[pos-product] {
	position: relative
}

[pos-product] i {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(121, 184, 51, 0.7)
}

[pos-product] i:before {
	position: absolute;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	background: white;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #79B833
}

[pos-product]:hover {
	border-color: #79B833;
	cursor: pointer
}

[pos-product].selected {
	border-color: #79B833;
	cursor: pointer
}

.reports-menu li {
	display: block;
	border-bottom: 1px solid #e5e5e5
}

.reports-menu li:first-child {
	border-top: 1px solid #e5e5e5
}

.reports-menu li a {
	color: #676767;
	display: block;
	padding: 10px 20px;
	transition: all .3s ease
}

.reports-menu li:hover a {
	background: #f9f9f9
}

.reports-menu li.active a {
	background: #eee
}

.reports-info [tr] [td] {
	width: 22.5%;
	vertical-align: middle;
	text-align: center
}

.reports-info [tr] [td]:nth-child(2),
.reports-info [tr] [td]:nth-child(4) {
	width: 5%;
	font-size: 16px;
	color: #bbb
}

.mask-block {
	background: #fff;
	margin-bottom: 10px;
	padding: 20px;
	position: relative
}

.mask-block .line {
	min-height: 10px;
	background: #eee;
	border-radius: 0px
}

.mask-block .circle {
	height: 100px;
	width: 100px;
	background: #eee;
	border-radius: 100%
}

.mask-block .line,
.mask-block .circle {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #eee;
	background: linear-gradient(to right, #eee 8%, #e5e5e5 18%, #eee 33%);
	background-size: 800px 104px;
	position: relative
}

.mask-block .holder {
	position: relative
}

.mask-block .holder .valign {
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

.mask-block-one {
	min-height: 80px;
	background: #fff;
	margin-bottom: 10px;
	padding: 25px
}

.mask-block-one .line:nth-child(1) {
	margin: 0px auto;
	margin-bottom: 10px;
	max-width: 100px
}

.mask-block-one .line:nth-child(2) {
	margin: 0px auto;
	max-width: 150px
}

.mask-block-two {
	padding: 20px
}

.mask-block-two .holder {
	height: 300px
}

.mask-block-two .circle {
	height: 300px;
	width: 300px;
	margin: 0px auto;
	position: relative
}

.mask-block-two .circle:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background: #fff;
	transform: translate(-50%, -50%)
}

.mask-block-two .line {
	margin-bottom: 10px
}

.mask-block-two .line:nth-child(1) {
	width: 150px
}

.mask-block-two .line:nth-child(2) {
	width: 130px
}

.mask-block-two .line:nth-child(3) {
	width: 180px
}

.mask-block-two .line:nth-child(4) {
	width: 150px
}

.mask-block-two .line:nth-child(5) {
	width: 130px
}

.mask-block-two .line:nth-child(6) {
	width: 180px
}

.mask-block-two .line:nth-child(7) {
	width: 50px
}

.mask-block-two .line:nth-child(8) {
	width: 100px
}

.mask-block-three .line {
	margin-bottom: 20px
}

.mask-block-three .line:first-child {
	margin-top: 25px
}

.mask-block-three .line:last-child {
	margin-bottom: 25px
}

.loading-area {
	position: relative
}

[after-loading],
[before-loading] {
	visibility: hidden
}

[after-loading].active,
[before-loading].active {
	visibility: visible
}

[after-loading].inactive,
[before-loading].inactive {
	position: fixed;
	left: 0px;
	top: 0px;
	pointer-events: none;
	z-index: -99999
}

.staff-attendance-table .adjustable-col {
	position: relative;
	height: 90px
}

.staff-attendance-table .adjustable-col div {
	position: absolute;
	white-space: nowrap;
	line-height: 26px;
	font-size: 12px;
	z-index: 1;
	left: 50%;
	bottom: -16px;
	transform-origin: top left;
	transform: rotate(-90deg) translateY(-50%)
}

.staff-attendance-table .present {
	position: relative;
	text-align: center
}

.staff-attendance-table .present span {
	position: relative;
	z-index: 2;
	color: white
}

.staff-attendance-table .present:before {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: #00c292;
	border-radius: 3px;
	z-index: 1
}

.staff-attendance-table .absent {
	position: relative;
	text-align: center
}

.staff-attendance-table .absent span {
	position: relative;
	z-index: 2;
	color: white
}

.staff-attendance-table .absent:before {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	background: #fb9678;
	border-radius: 3px;
	z-index: 1
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.ui-slider {
	background: #ddd;
	height: 5px;
	position: relative;
	margin: 7.5px 0px
}

.ui-slider .ui-slider-handle {
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	display: block;
	height: 15px;
	width: 15px;
	background: #79B833;
	border-radius: 100%
}

.ui-slider .ui-slider-handle[style="left: 100%;"] {
	right: 0px !important;
	left: inherit !important
}

.ui-timepicker-div .ui-datepicker-title {
	font-weight: bold;
	display: block;
	margin-bottom: 10px
}

.ui-timepicker-div .ui_tpicker_unit_hide {
	display: none
}

.ui-timepicker-div dl {
	display: block;
	margin-bottom: 0px
}

.ui-timepicker-div dl dt,
.ui-timepicker-div dl dd {
	display: inline-block;
	float: left;
	height: 30px
}

.ui-timepicker-div dl dt {
	width: 25%;
	line-height: 30px
}

.ui-timepicker-div dl dd {
	width: 75%
}

.ui-timepicker-div .ui_tpicker_time_input,
.ui-timepicker-div select {
	border: 0px;
	background: transparent;
	height: 30px;
	font-weight: bold;
	-webkit-appearance: none
}

.ui-timepicker-div .ui-slider {
	margin: 12.5px 0px
}

.ui-datepicker {
	display: none;
	background: white;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
	padding: 20px
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	margin-bottom: 10px
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	position: absolute;
	top: 0px
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
	display: block;
	height: 30px;
	line-height: 30px;
	cursor: pointer
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before {
	font-family: Font Awesome\ 5 Pro;
	color: #676767
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
	left: 0px
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before {
	content: '\f060'
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
	right: 0px
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before {
	content: '\f061'
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	text-align: center;
	height: 30px;
	line-height: 30px;
	vertical-align: top
}

.ui-datepicker .ui-datepicker-calendar {
	width: 100%
}

.ui-datepicker .ui-datepicker-calendar td,
.ui-datepicker .ui-datepicker-calendar th {
	border: 1px solid #ccc
}

.ui-datepicker .ui-datepicker-calendar th {
	text-align: center
}

.ui-datepicker .ui-datepicker-calendar th span {
	display: block;
	padding: 8px
}

.ui-datepicker .ui-datepicker-calendar td {
	text-align: right
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable {
	background: #f9f9f9
}

.ui-datepicker .ui-datepicker-calendar td a,
.ui-datepicker .ui-datepicker-calendar td span {
	display: block;
	padding: 8px;
	color: #676767
}

.ui-datepicker .ui-datepicker-calendar td a.ui-state-active,
.ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight,
.ui-datepicker .ui-datepicker-calendar td span.ui-state-active,
.ui-datepicker .ui-datepicker-calendar td span.ui-state-highlight {
	background: #ddf0c7;
	color: #5f9028
}

.ui-datepicker .ui-datepicker-buttonpane button {
	background: #79B833;
	border: 0px;
	height: 40px;
	padding: 0px 20px;
	color: white;
	border-radius: 2px;
	margin-top: 10px;
	margin-right: 5px
}

.chart-container {
	position: relative
}

.chart-container .chart {
	height: 300px;
	margin: 0px
}

[welcome] {
	display: inline-block;
	padding: 40px 50px;
	margin: 0px
}

@media (max-width: 1000px) {
	section.navigation .logo {
		font-size: 16px
	}
}

@media (max-width: 768px) {
	.chart-container .chart {
		height: 200px
	}
	section.navigation .logo {
		padding: 0px 10px
	}
	section.pageWrapper .pageHeader {
		padding: 0px 10px
	}
	section.pageWrapper .pageBody {
		padding: 10px
	}
	section.pageWrapper .pageFooter {
		overflow: hidden
	}
	section.pageWrapper .pageSidebar {
		position: static;
		width: 100% !important
	}
	[table][responsive] {
		display: block;
		width: 100%
	}
	[table][responsive] [tr] {
		display: block;
		width: 100%
	}
	[table][responsive] [tr] [td] {
		display: block;
		width: 100%
	}
	.responsive-table {
		position: relative
	}
	.responsive-table .dataTables_wrapper {
		box-shadow: none;
		text-align: center
	}
	.responsive-table .dataTables_wrapper .dataTables_info {
		float: none;
		display: block;
		margin-bottom: 10px
	}
	.responsive-table .dataTables_wrapper .dataTables_paginate {
		float: none
	}
	.responsive-table table,
	.responsive-table thead,
	.responsive-table tbody,
	.responsive-table tfoot,
	.responsive-table tr,
	.responsive-table td {
		display: block;
		width: 100%
	}
	.responsive-table table {
		border: 0px;
		background: none
	}
	.responsive-table thead {
		margin-bottom: 10px
	}
	.responsive-table thead:before,
	.responsive-table thead:after {
		content: '';
		display: table;
		clear: both
	}
	.responsive-table thead th {
		display: inline-block;
		float: left;
		width: 50% !important;
		border: 1px solid #ddd !important;
		padding: 10px !important;
		background: #f9f9f9;
		margin-left: -1px;
		margin-bottom: 5px;
		position: relative;
		left: 1px
	}
	.responsive-table thead th.no-sort {
		display: none
	}
	.responsive-table thead th.sorting_desc,
	.responsive-table thead th.sorting_asc {
		background: white
	}
	.responsive-table tbody tr {
		background: white;
		border: 1px solid #ddd !important;
		margin-bottom: 10px
	}
	.responsive-table tbody tr td {
		padding-left: 30% !important;
		position: relative;
		text-align: left !important
	}
	.responsive-table tbody tr td:first-child {
		border-top: 0px
	}
	.responsive-table tbody tr td:before {
		content: attr(data-label);
		margin-right: 20px;
		width: 30%;
		position: absolute;
		left: 10px;
		top: 8px;
		font-weight: bold
	}
	.spaceType>li {
		width: 50%;
		border-bottom: 1px solid #e5e5e5
	}
	.spaceType>li:nth-last-child(2) {
		width: 100%;
		float: none;
		border-bottom: none
	}
}

.freshup-calendar {
	position: relative;
	width: 100%;
	padding-left: 80px;
	background: white
}

.freshup-calendar table {
	margin: 0px
}

.freshup-calendar .fc-sidebar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 80px;
	background: #f9f9f9
}

.freshup-calendar .fc-body .fc-x-scroll {
	width: 100%;
	overflow-x: auto
}

[HR-scrolling] {
	max-width: 100%;
	overflow-x: hidden;
	position: relative
}

[HR-scrolling]:before {
	content: attr(data-scroll);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 555
}

[HR-scrolling] [HR-ul] {
	position: relative
}

[HR-scrolling] [HR-ul] li {
	display: inline-block;
	float: left
}

[HR-scrolling] [HR-ul] li span {
	display: block;
	padding: 20px 20px;
	background: #f90
}

.table-privileges .checkbox-inline,
.table-privileges .checkbox {
	margin: 0px
}

.privilege {
	border: 1px solid #ccc
}

.privilege ul {
	position: relative;
	border-left: 2px solid #ccc
}

.privilege ul li {
	display: block;
	border-top: 1px solid #ccc;
	padding-left: 30px;
	margin-top: -1px
}

.privilege ul li .prive_row {
	display: block;
	padding: 10px 0px;
	font-weight: normal
}

.privilege ul li .prive_row .checkbox-inline {
	float: right;
	margin-left: 20px;
	width: 100px;
	vertical-align: top
}

.captureScreen {
	min-height: 300px;
	background: #ccc;
	margin-bottom: 10px
}

.proofs img {
	height: 80px
}

.proofs div {
	margin: 5px 0px
}

.bootstrap-tagsinput {
	width: 100%;
	padding: 5.2px 6px;
	box-shadow: none;
	border-radius: 0px
}

.page-404 {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	text-align: center
}

.page-404 .whitebox {
	padding: 40px;
	border-radius: 10px
}

tags-input .host {
	background: white;
	border: 1px solid #ccc;
	min-height: 34px;
	outline: none
}

tags-input .tag-list {
	display: inline-block;
	float: left;
	padding: 5px 0px 0px 0px;
	vertical-align: top
}

tags-input .tag-list li {
	display: inline-block;
	float: left;
	background: #79B833;
	color: white;
	height: 24px;
	line-height: 24px;
	padding: 0px 10px;
	padding-right: 24px;
	border-radius: 24px;
	margin-left: 4px;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	margin-bottom: 5px
}

tags-input .tag-list li .remove-button {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 24px;
	width: 24px;
	cursor: pointer
}

tags-input .tag-list li .remove-button:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f00d';
	text-indent: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	line-height: 24px;
	text-align: center;
	background: #79B833;
	color: white;
	font-weight: 300
}

tags-input .input {
	display: inline-block;
	float: left;
	vertical-align: top;
	height: 34px;
	border: 0px;
	padding: 0px 10px;
	background: transparent;
	outline: none
}

tags-input .input.invalid-tag {
	color: #f00
}

.manageStayingTypes {
	margin-bottom: 20px
}

.manageStayingTypes>li {
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin-bottom: -1px
}

.manageStayingTypes>li .checkbox-inline {
	margin: 0px
}

.manageStayingTypes>li .checkbox-inline label {
	font-size: 18px
}

.manageStayingTypes>li small {
	float: right;
	display: inline-block;
	line-height: 24px;
	height: 24px;
	background: #eee;
	color: #999;
	padding: 0px 10px;
	border-radius: 20px;
	margin-top: -2px
}

.manageStayingTypes>li>ul {
	background: white;
	border: 1px solid #e5e5e5;
	margin-top: 10px
}

.manageStayingTypes>li>ul li {
	display: block;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 20px
}

.manageStayingTypes>li>ul li:last-child {
	border-bottom: 0px
}

.manageStayingTypes>li>ul li .actions {
	float: right;
	display: inline-block
}

.manageStayingTypes>li>ul li .actions .radio-inline {
	width: 100px
}

.dynamic-search {
	position: relative
}

.dynamic-search .dynamic-search-result {
	position: absolute;
	top: 100%;
	left: 0px;
	min-width: 100%;
	padding: 5px 0px;
	background: white;
	z-index: 99;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc
}

.dynamic-search .dynamic-search-result ul li {
	display: block;
	padding: 5px 20px
}

.dynamic-search .dynamic-search-result ul li:hover {
	background: #eee;
	cursor: pointer
}

.bootstrap-datetimepicker-widget table td.disabled {
	opacity: 0.4
}

.bootstrap-datetimepicker-widget table td.active {
	background: #79B833
}

.bootstrap-datetimepicker-widget table td.active:hover {
	background: #79B833
}

.bootstrap-datetimepicker-widget table td.today:before {
	border-bottom-color: #79B833
}

.custom-form .form-group {
	position: relative;
	padding-left: 100px
}

.custom-form .form-group label:not(.error) {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	width: 100px
}

.contact_info_td [data-toggle="collapse"]:before {
	font-family: 'Font Awesome 5 Pro'
}

.contact_info_td [data-toggle="collapse"][aria-expanded="false"]:before {
	content: "\f055"
}

.contact_info_td [data-toggle="collapse"][aria-expanded="true"]:before {
	content: "\f056"
}

.grid {
	display: flex;
	margin-left: -5px;
	margin-right: -5px
}

.grid .col {
	flex: 1;
	padding: 0px 5px;
	margin-bottom: 10px
}

.sameheight001 .whitebox {
	height: 100%
}

.modal {
	overflow-y: auto
}

.upper-grid {
	display: flex;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 5px
}

.upper-grid .ug-col {
	flex-grow: 1;
	padding: 5px
}

.upper-grid .ug-col .whitebox {
	margin-bottom: 0px;
	height: 100%
}

.upper-grid .ug-col:last-child {
	flex-grow: 0;
	flex-basis: 26%
}

.other-forms {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%
}

.other-forms .of-col {
	display: flex;
	flex-grow: 1;
	padding: 10px 20px;
	background: #fff;
	margin-bottom: 10px
}

.other-forms .of-col:last-child {
	margin-bottom: 0px
}

.other-forms .of-col .inner {
	display: flex;
	align-items: center
}

.other-forms .of-col .inner h4 {
	margin-top: 0px
}

.other-forms .of-col .inner i {
	display: block;
	height: 70px;
	line-height: 70px;
	width: 70px;
	text-align: center;
	background: #79B833;
	color: white;
	border-radius: 100%;
	font-size: 30px;
	margin-right: 20px
}

.booking-type {
	padding-left: 250px;
	position: relative
}

.booking-type ul {
	width: 250px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1
}

.booking-type ul li {
	display: block;
	margin-bottom: 10px;
	margin-right: 0px
}

.booking-type ul li a {
	display: block;
	background: #f5f5f5;
	padding: 20px;
	padding-left: 80px;
	position: relative
}

.booking-type ul li a strong,
.booking-type ul li a small {
	display: block;
	color: #676767
}

.booking-type ul li a i {
	display: block;
	height: 50px;
	width: 50px;
	background: transparent;
	border-radius: 100%;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -25px
}

.booking-type ul li a i span {
	display: block;
	height: 40px;
	width: 40px;
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 5px;
	margin-top: 5px
}

.booking-type ul li.active a {
	background: white
}

.booking-type .booking-type-box {
	background: white;
	padding: 20px;
	position: relative;
	z-index: 2
}

.notifications {
	position: relative
}

.notifications .notifications-menu {
	position: absolute;
	top: 100%;
	right: 0px;
	padding: 0px 0px;
	background-color: #f7f7f7;
	width: 300px;
	border: 1px solid #ccc;
	display: none
}

.notifications .notifications-menu>a {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	background-color: #f7f7f7;
	color: #676767
}

.notifications .notifications-menu>a:last-child {
	border-bottom: 0px
}

.notifications .notifications-menu>a.unread {
	background-color: white
}

.notifications .notifications-menu>a:hover {
	background-color: #eee
}

.notifications.active .notifications-menu {
	display: block
}


/*# sourceMappingURL=style.css.map */