
.width-100 {

    max-width: 100px!important;

}

.width-200 {

    max-width: 200px!important;

}
.width-300 {

    max-width: 300px!important;

}
.width-400 {

    max-width: 400px!important;

}


.width-400 {

    max-width: 400px!important;

}

.width-500 {

    max-width: 500px!important;

}

.width-600 {

    max-width: 600px!important;

}


.width-700 {

    max-width: 700px!important;

}

.width-800 {

    max-width: 800px!important;

}

.width-900 {

    max-width: 900px!important;

}

.width-1000 {

    max-width: 1000px!important;

}



.mx-auto-xs {

    margin-left: auto!important;

    margin-right: auto!important;

}

.ma-0-xs {

    margin: 0px!important;

}

.mx-0-xs {

    margin-left: 0px!important;

    margin-right: 0px!important;

}

.mx-10-xs {

    margin-left: 10px!important;

    margin-right: 10px!important;

}

.mx-20-xs {

    margin-left: 20px!important;

    margin-right: 20px!important;

}

.mx-30-xs {

    margin-left: 30px!important;

    margin-right: 30px!important;

}

.mx-40-xs {

    margin-left: 40px!important;

    margin-right: 40px!important;

}

.mx-50-xs {

    margin-left: 50px!important;

    margin-right: 50px!important;

}

.mx-60-xs {

    margin-left: 60px!important;

    margin-right: 60px!important;

}

.mx-70-xs {

    margin-left: 70px!important;

    margin-right: 70px!important;

}

.mx-80-xs {

    margin-left: 80px!important;

    margin-right: 80px!important;

}

.mx-90-xs {

    margin-left: 90px!important;

    margin-right: 90px!important;

}

.mx-100-xs {

    margin-left: 100px!important;

    margin-right: 100px!important;

}

.my-0-xs {

    margin-top: 0px!important;

    margin-bottom: 0px!important;

}

.my-10-xs {

    margin-top: 10px!important;

    margin-bottom: 10px!important;

}

.my-20-xs {

    margin-top: 20px!important;

    margin-bottom: 20px!important;

}

.my-30-xs {

    margin-top: 30px!important;

    margin-bottom: 30px!important;

}

.my-40-xs {

    margin-top: 40px!important;

    margin-bottom: 40px!important;

}

.my-50-xs {

    margin-top: 50px!important;

    margin-bottom: 50px!important;

}

.my-60-xs {

    margin-top: 60px!important;

    margin-bottom: 60px!important;

}

.my-70-xs {

    margin-top: 70px!important;

    margin-bottom: 70px!important;

}

.my-80-xs {

    margin-top: 80px!important;

    margin-bottom: 80px!important;

}

.my-90-xs {

    margin-top: 90px!important;

    margin-bottom: 90px!important;

}

.my-100-xs {

    margin-top: 100px!important;

    margin-bottom: 100px!important;

}

.mt-0-xs {

    margin-top: 0px!important;

}

.mt-10-xs {

    margin-top: 10px!important;

}

.mt-10-xs {

    margin-top: 10px!important;

}

.mt-20-xs {

    margin-top: 20px!important;

}

.mt-30-xs {

    margin-top: 30px!important;

}

.mt-40-xs {

    margin-top: 40px!important;

}

.mt-50-xs {

    margin-top: 50px!important;

}

.mt-60-xs {

    margin-top: 60px!important;

}

.mt-70-xs {

    margin-top: 70px!important;

}

.mt-80-xs {

    margin-top: 80px!important;

}

.mt-90-xs {

    margin-top: 90px!important;

}

.mt-100-xs {

    margin-top: 100px!important;

}

.mb-0-xs {

    margin-bottom: 0px!important;

}

.mb-10-xs {

    margin-bottom: 10px!important;

}

.mb-20-xs {

    margin-bottom: 20px!important;

}

.mb-30-xs {

    margin-bottom: 30px!important;

}

.mb-40-xs {

    margin-bottom: 40px!important;

}

.mb-50-xs {

    margin-bottom: 50px!important;

}

.mb-60-xs {

    margin-bottom: 60px!important;

}

.mb-70-xs {

    margin-bottom: 70px!important;

}

.mb-80-xs {

    margin-bottom: 80px!important;

}

.mb-90-xs {

    margin-bottom: 90px!important;

}

.mb-100-xs {

    margin-bottom: 100px!important;

}

.ml-0-xs {

    margin-left: 0px!important;

}

.ml-10-xs {

    margin-left: 10px!important;

}

.ml-20-xs {

    margin-left: 20px!important;

}

.ml-30-xs {

    margin-left: 30px!important;

}

.ml-40-xs {

    margin-left: 40px!important;

}

.ml-50-xs {

    margin-left: 50px!important;

}

.ml-60-xs {

    margin-left: 60px!important;

}

.ml-70-xs {

    margin-left: 70px!important;

}

.ml-80-xs {

    margin-left: 80px!important;

}

.ml-90-xs {

    margin-left: 90px!important;

}

.ml-100-xs {

    margin-left: 100px!important;

}

.mr-0-xs {

    margin-right: 0px!important;

}

.mr-10-xs {

    margin-right: 10px!important;

}

.mr-20-xs {

    margin-right: 20px!important;

}

.mr-30-xs {

    margin-right: 30px!important;

}

.mr-40-xs {

    margin-right: 40px!important;

}

.mr-50-xs {

    margin-right: 50px!important;

}

.mr-60-xs {

    margin-right: 60px!important;

}

.mr-70-xs {

    margin-right: 70px!important;

}

.mr-80-xs {

    margin-right: 80px!important;

}

.mr-90-xs {

    margin-right: 90px!important;

}

.mr-100-xs {

    margin-right: 100px!important;

}

.px-0-xs {

    padding-left: 0px!important;

    padding-right: 0px!important;

}

.pa-0-xs {

    padding: 0px!important;

}

.px-10-xs {

    padding-left: 10px!important;

    padding-right: 10px!important;

}

.px-20-xs {

    padding-left: 20px!important;

    padding-right: 20px!important;

}

.px-30-xs {

    padding-left: 30px!important;

    padding-right: 30px!important;

}

.px-40-xs {

    padding-left: 40px!important;

    padding-right: 40px!important;

}

.px-50-xs {

    padding-left: 50px!important;

    padding-right: 50px!important;

}

.px-60-xs {

    padding-left: 60px!important;

    padding-right: 60px!important;

}

.px-70-xs {

    padding-left: 70px!important;

    padding-right: 70px!important;

}

.px-80-xs {

    padding-left: 80px!important;

    padding-right: 80px!important;

}

.px-90-xs {

    padding-left: 90px!important;

    padding-right: 90px!important;

}

.px-100-xs {

    padding-left: 100px!important;

    padding-right: 100px!important;

}

.py-0-xs {

    padding-top: 0px!important;

    padding-bottom: 0px!important;

}

.py-10-xs {

    padding-top: 10px!important;

    padding-bottom: 10px!important;

}

.py-20-xs {

    padding-top: 20px!important;

    padding-bottom: 20px!important;

}

.py-30-xs {

    padding-top: 30px!important;

    padding-bottom: 30px!important;

}

.py-40-xs {

    padding-top: 40px!important;

    padding-bottom: 40px!important;

}

.py-50-xs {

    padding-top: 50px!important;

    padding-bottom: 50px!important;

}

.py-60-xs {

    padding-top: 60px!important;

    padding-bottom: 60px!important;

}

.py-70-xs {

    padding-top: 70px!important;

    padding-bottom: 70px!important;

}

.py-80-xs {

    padding-top: 80px!important;

    padding-bottom: 80px!important;

}

.py-90-xs {

    padding-top: 90px!important;

    padding-bottom: 90px!important;

}

.py-100-xs {

    padding-top: 100px!important;

    padding-bottom: 100px!important;

}

.pt-0-xs {

    padding-top: 0px!important;

}

.pt-10-xs {

    padding-top: 10px!important;

}

.pt-20-xs {

    padding-top: 20px!important;

}

.pt-30-xs {

    padding-top: 30px!important;

}

.pt-40-xs {

    padding-top: 40px!important;

}

.pt-50-xs {

    padding-top: 50px!important;

}

.pt-60-xs {

    padding-top: 60px!important;

}

.pt-70-xs {

    padding-top: 70px!important;

}

.pt-80-xs {

    padding-top: 80px!important;

}

.pt-90-xs {

    padding-top: 90px!important;

}

.pt-100-xs {

    padding-top: 100px!important;

}

.pb-0-xs {

    padding-bottom: 0px!important;

}

.pb-10-xs {

    padding-bottom: 10px!important;

}

.pb-20-xs {

    padding-bottom: 20px!important;

}

.pb-30-xs {

    padding-bottom: 30px!important;

}

.pb-40-xs {

    padding-bottom: 40px!important;

}

.pb-50-xs {

    padding-bottom: 50px!important;

}

.pb-60-xs {

    padding-bottom: 60px!important;

}

.pb-70-xs {

    padding-bottom: 70px!important;

}

.pb-80-xs {

    padding-bottom: 80px!important;

}

.pb-90-xs {

    padding-bottom: 90px!important;

}

.pb-100-xs {

    padding-bottom: 100px!important;

}

.pl-0-xs {

    padding-left: 0px!important;

}

.pl-10-xs {

    padding-left: 10px!important;

}

.pl-20-xs {

    padding-left: 20px!important;

}

.pl-30-xs {

    padding-left: 30px!important;

}

.pl-40-xs {

    padding-left: 40px!important;

}

.pl-50-xs {

    padding-left: 50px!important;

}

.pl-60-xs {

    padding-left: 60px!important;

}

.pl-70-xs {

    padding-left: 70px!important;

}

.pl-80-xs {

    padding-left: 80px!important;

}

.pl-90-xs {

    padding-left: 90px!important;

}

.pl-100-xs {

    padding-left: 100px!important;

}

.pr-0-xs {

    padding-right: 0px!important;

}

.pr-10-xs {

    padding-right: 10px!important;

}

.pr-20-xs {

    padding-right: 20px!important;

}

.pr-30-xs {

    padding-right: 30px!important;

}

.pr-40-xs {

    padding-right: 40px!important;

}

.pr-50-xs {

    padding-right: 50px!important;

}

.pr-60-xs {

    padding-right: 60px!important;

}

.pr-70-xs {

    padding-right: 70px!important;

}

.pr-80-xs {

    padding-right: 80px!important;

}

.pr-90-xs {

    padding-right: 90px!important;

}

.pr-100-xs {

    padding-right: 100px!important;

}

@media (min-width: 768px) {

    .mx-auto-sm {

        margin-left: auto!important;

        margin-right: auto!important;

    }

    .ma-0-sm {

        margin: 0px!important;

    }

    .mx-0-sm {

        margin-left: 0px!important;

        margin-right: 0px!important;

    }

    .mx-10-sm {

        margin-left: 10px!important;

        margin-right: 10px!important;

    }

    .mx-20-sm {

        margin-left: 20px!important;

        margin-right: 20px!important;

    }

    .mx-30-sm {

        margin-left: 30px!important;

        margin-right: 30px!important;

    }

    .mx-40-sm {

        margin-left: 40px!important;

        margin-right: 40px!important;

    }

    .mx-50-sm {

        margin-left: 50px!important;

        margin-right: 50px!important;

    }

    .mx-60-sm {

        margin-left: 60px!important;

        margin-right: 60px!important;

    }

    .mx-70-sm {

        margin-left: 70px!important;

        margin-right: 70px!important;

    }

    .mx-80-sm {

        margin-left: 80px!important;

        margin-right: 80px!important;

    }

    .mx-90-sm {

        margin-left: 90px!important;

        margin-right: 90px!important;

    }

    .mx-100-sm {

        margin-left: 100px!important;

        margin-right: 100px!important;

    }

    .my-0-sm {

        margin-top: 0px!important;

        margin-bottom: 0px!important;

    }

    .my-10-sm {

        margin-top: 10px!important;

        margin-bottom: 10px!important;

    }

    .my-20-sm {

        margin-top: 20px!important;

        margin-bottom: 20px!important;

    }

    .my-30-sm {

        margin-top: 30px!important;

        margin-bottom: 30px!important;

    }

    .my-40-sm {

        margin-top: 40px!important;

        margin-bottom: 40px!important;

    }

    .my-50-sm {

        margin-top: 50px!important;

        margin-bottom: 50px!important;

    }

    .my-60-sm {

        margin-top: 60px!important;

        margin-bottom: 60px!important;

    }

    .my-70-sm {

        margin-top: 70px!important;

        margin-bottom: 70px!important;

    }

    .my-80-sm {

        margin-top: 80px!important;

        margin-bottom: 80px!important;

    }

    .my-90-sm {

        margin-top: 90px!important;

        margin-bottom: 90px!important;

    }

    .my-100-sm {

        margin-top: 100px!important;

        margin-bottom: 100px!important;

    }

    .mt-0-sm {

        margin-top: 0px!important;

    }

    .mt-10-sm {

        margin-top: 10px!important;

    }

    .mt-10-sm {

        margin-top: 10px!important;

    }

    .mt-20-sm {

        margin-top: 20px!important;

    }

    .mt-30-sm {

        margin-top: 30px!important;

    }

    .mt-40-sm {

        margin-top: 40px!important;

    }

    .mt-50-sm {

        margin-top: 50px!important;

    }

    .mt-60-sm {

        margin-top: 60px!important;

    }

    .mt-70-sm {

        margin-top: 70px!important;

    }

    .mt-80-sm {

        margin-top: 80px!important;

    }

    .mt-90-sm {

        margin-top: 90px!important;

    }

    .mt-100-sm {

        margin-top: 100px!important;

    }

    .mb-0-sm {

        margin-bottom: 0px!important;

    }

    .mb-10-sm {

        margin-bottom: 10px!important;

    }

    .mb-20-sm {

        margin-bottom: 20px!important;

    }

    .mb-30-sm {

        margin-bottom: 30px!important;

    }

    .mb-40-sm {

        margin-bottom: 40px!important;

    }

    .mb-50-sm {

        margin-bottom: 50px!important;

    }

    .mb-60-sm {

        margin-bottom: 60px!important;

    }

    .mb-70-sm {

        margin-bottom: 70px!important;

    }

    .mb-80-sm {

        margin-bottom: 80px!important;

    }

    .mb-90-sm {

        margin-bottom: 90px!important;

    }

    .mb-100-sm {

        margin-bottom: 100px!important;

    }

    .ml-0-sm {

        margin-left: 0px!important;

    }

    .ml-10-sm {

        margin-left: 10px!important;

    }

    .ml-20-sm {

        margin-left: 20px!important;

    }

    .ml-30-sm {

        margin-left: 30px!important;

    }

    .ml-40-sm {

        margin-left: 40px!important;

    }

    .ml-50-sm {

        margin-left: 50px!important;

    }

    .ml-60-sm {

        margin-left: 60px!important;

    }

    .ml-70-sm {

        margin-left: 70px!important;

    }

    .ml-80-sm {

        margin-left: 80px!important;

    }

    .ml-90-sm {

        margin-left: 90px!important;

    }

    .ml-100-sm {

        margin-left: 100px!important;

    }

    .mr-0-sm {

        margin-right: 0px!important;

    }

    .mr-10-sm {

        margin-right: 10px!important;

    }

    .mr-20-sm {

        margin-right: 20px!important;

    }

    .mr-30-sm {

        margin-right: 30px!important;

    }

    .mr-40-sm {

        margin-right: 40px!important;

    }

    .mr-50-sm {

        margin-right: 50px!important;

    }

    .mr-60-sm {

        margin-right: 60px!important;

    }

    .mr-70-sm {

        margin-right: 70px!important;

    }

    .mr-80-sm {

        margin-right: 80px!important;

    }

    .mr-90-sm {

        margin-right: 90px!important;

    }

    .mr-100-sm {

        margin-right: 100px!important;

    }

    .px-0-sm {

        padding-left: 0px!important;

        padding-right: 0px!important;

    }

    .pa-0-sm {

        padding: 0px!important;

    }

    .px-10-sm {

        padding-left: 10px!important;

        padding-right: 10px!important;

    }

    .px-20-sm {

        padding-left: 20px!important;

        padding-right: 20px!important;

    }

    .px-30-sm {

        padding-left: 30px!important;

        padding-right: 30px!important;

    }

    .px-40-sm {

        padding-left: 40px!important;

        padding-right: 40px!important;

    }

    .px-50-sm {

        padding-left: 50px!important;

        padding-right: 50px!important;

    }

    .px-60-sm {

        padding-left: 60px!important;

        padding-right: 60px!important;

    }

    .px-70-sm {

        padding-left: 70px!important;

        padding-right: 70px!important;

    }

    .px-80-sm {

        padding-left: 80px!important;

        padding-right: 80px!important;

    }

    .px-90-sm {

        padding-left: 90px!important;

        padding-right: 90px!important;

    }

    .px-100-sm {

        padding-left: 100px!important;

        padding-right: 100px!important;

    }

    .py-0-sm {

        padding-top: 0px!important;

        padding-bottom: 0px!important;

    }

    .py-10-sm {

        padding-top: 10px!important;

        padding-bottom: 10px!important;

    }

    .py-20-sm {

        padding-top: 20px!important;

        padding-bottom: 20px!important;

    }

    .py-30-sm {

        padding-top: 30px!important;

        padding-bottom: 30px!important;

    }

    .py-40-sm {

        padding-top: 40px!important;

        padding-bottom: 40px!important;

    }

    .py-50-sm {

        padding-top: 50px!important;

        padding-bottom: 50px!important;

    }

    .py-60-sm {

        padding-top: 60px!important;

        padding-bottom: 60px!important;

    }

    .py-70-sm {

        padding-top: 70px!important;

        padding-bottom: 70px!important;

    }

    .py-80-sm {

        padding-top: 80px!important;

        padding-bottom: 80px!important;

    }

    .py-90-sm {

        padding-top: 90px!important;

        padding-bottom: 90px!important;

    }

    .py-100-sm {

        padding-top: 100px!important;

        padding-bottom: 100px!important;

    }

    .pt-0-sm {

        padding-top: 0px!important;

    }

    .pt-10-sm {

        padding-top: 10px!important;

    }

    .pt-20-sm {

        padding-top: 20px!important;

    }

    .pt-30-sm {

        padding-top: 30px!important;

    }

    .pt-40-sm {

        padding-top: 40px!important;

    }

    .pt-50-sm {

        padding-top: 50px!important;

    }

    .pt-60-sm {

        padding-top: 60px!important;

    }

    .pt-70-sm {

        padding-top: 70px!important;

    }

    .pt-80-sm {

        padding-top: 80px!important;

    }

    .pt-90-sm {

        padding-top: 90px!important;

    }

    .pt-100-sm {

        padding-top: 100px!important;

    }

    .pb-0-sm {

        padding-bottom: 0px!important;

    }

    .pb-10-sm {

        padding-bottom: 10px!important;

    }

    .pb-20-sm {

        padding-bottom: 20px!important;

    }

    .pb-30-sm {

        padding-bottom: 30px!important;

    }

    .pb-40-sm {

        padding-bottom: 40px!important;

    }

    .pb-50-sm {

        padding-bottom: 50px!important;

    }

    .pb-60-sm {

        padding-bottom: 60px!important;

    }

    .pb-70-sm {

        padding-bottom: 70px!important;

    }

    .pb-80-sm {

        padding-bottom: 80px!important;

    }

    .pb-90-sm {

        padding-bottom: 90px!important;

    }

    .pb-100-sm {

        padding-bottom: 100px!important;

    }

    .pl-0-sm {

        padding-left: 0px!important;

    }

    .pl-10-sm {

        padding-left: 10px!important;

    }

    .pl-20-sm {

        padding-left: 20px!important;

    }

    .pl-30-sm {

        padding-left: 30px!important;

    }

    .pl-40-sm {

        padding-left: 40px!important;

    }

    .pl-50-sm {

        padding-left: 50px!important;

    }

    .pl-60-sm {

        padding-left: 60px!important;

    }

    .pl-70-sm {

        padding-left: 70px!important;

    }

    .pl-80-sm {

        padding-left: 80px!important;

    }

    .pl-90-sm {

        padding-left: 90px!important;

    }

    .pl-100-sm {

        padding-left: 100px!important;

    }

    .pr-0-sm {

        padding-right: 0px!important;

    }

    .pr-10-sm {

        padding-right: 10px!important;

    }

    .pr-20-sm {

        padding-right: 20px!important;

    }

    .pr-30-sm {

        padding-right: 30px!important;

    }

    .pr-40-sm {

        padding-right: 40px!important;

    }

    .pr-50-sm {

        padding-right: 50px!important;

    }

    .pr-60-sm {

        padding-right: 60px!important;

    }

    .pr-70-sm {

        padding-right: 70px!important;

    }

    .pr-80-sm {

        padding-right: 80px!important;

    }

    .pr-90-sm {

        padding-right: 90px!important;

    }

    .pr-100-sm {

        padding-right: 100px!important;

    }

}

@media (min-width: 992px) {

    .mx-auto-md {

        margin-left: auto!important;

        margin-right: auto!important;

    }

    .ma-0-md {

        margin: 0px!important;

    }

    .mx-0-md {

        margin-left: 0px!important;

        margin-right: 0px!important;

    }

    .mx-10-md {

        margin-left: 10px!important;

        margin-right: 10px!important;

    }

    .mx-20-md {

        margin-left: 20px!important;

        margin-right: 20px!important;

    }

    .mx-30-md {

        margin-left: 30px!important;

        margin-right: 30px!important;

    }

    .mx-40-md {

        margin-left: 40px!important;

        margin-right: 40px!important;

    }

    .mx-50-md {

        margin-left: 50px!important;

        margin-right: 50px!important;

    }

    .mx-60-md {

        margin-left: 60px!important;

        margin-right: 60px!important;

    }

    .mx-70-md {

        margin-left: 70px!important;

        margin-right: 70px!important;

    }

    .mx-80-md {

        margin-left: 80px!important;

        margin-right: 80px!important;

    }

    .mx-90-md {

        margin-left: 90px!important;

        margin-right: 90px!important;

    }

    .mx-100-md {

        margin-left: 100px!important;

        margin-right: 100px!important;

    }

    .my-0-md {

        margin-top: 0px!important;

        margin-bottom: 0px!important;

    }

    .my-10-md {

        margin-top: 10px!important;

        margin-bottom: 10px!important;

    }

    .my-20-md {

        margin-top: 20px!important;

        margin-bottom: 20px!important;

    }

    .my-30-md {

        margin-top: 30px!important;

        margin-bottom: 30px!important;

    }

    .my-40-md {

        margin-top: 40px!important;

        margin-bottom: 40px!important;

    }

    .my-50-md {

        margin-top: 50px!important;

        margin-bottom: 50px!important;

    }

    .my-60-md {

        margin-top: 60px!important;

        margin-bottom: 60px!important;

    }

    .my-70-md {

        margin-top: 70px!important;

        margin-bottom: 70px!important;

    }

    .my-80-md {

        margin-top: 80px!important;

        margin-bottom: 80px!important;

    }

    .my-90-md {

        margin-top: 90px!important;

        margin-bottom: 90px!important;

    }

    .my-100-md {

        margin-top: 100px!important;

        margin-bottom: 100px!important;

    }

    .mt-0-md {

        margin-top: 0px!important;

    }

    .mt-10-md {

        margin-top: 10px!important;

    }

    .mt-10-md {

        margin-top: 10px!important;

    }

    .mt-20-md {

        margin-top: 20px!important;

    }

    .mt-30-md {

        margin-top: 30px!important;

    }

    .mt-40-md {

        margin-top: 40px!important;

    }

    .mt-50-md {

        margin-top: 50px!important;

    }

    .mt-60-md {

        margin-top: 60px!important;

    }

    .mt-70-md {

        margin-top: 70px!important;

    }

    .mt-80-md {

        margin-top: 80px!important;

    }

    .mt-90-md {

        margin-top: 90px!important;

    }

    .mt-100-md {

        margin-top: 100px!important;

    }

    .mb-0-md {

        margin-bottom: 0px!important;

    }

    .mb-10-md {

        margin-bottom: 10px!important;

    }

    .mb-20-md {

        margin-bottom: 20px!important;

    }

    .mb-30-md {

        margin-bottom: 30px!important;

    }

    .mb-40-md {

        margin-bottom: 40px!important;

    }

    .mb-50-md {

        margin-bottom: 50px!important;

    }

    .mb-60-md {

        margin-bottom: 60px!important;

    }

    .mb-70-md {

        margin-bottom: 70px!important;

    }

    .mb-80-md {

        margin-bottom: 80px!important;

    }

    .mb-90-md {

        margin-bottom: 90px!important;

    }

    .mb-100-md {

        margin-bottom: 100px!important;

    }

    .ml-0-md {

        margin-left: 0px!important;

    }

    .ml-10-md {

        margin-left: 10px!important;

    }

    .ml-20-md {

        margin-left: 20px!important;

    }

    .ml-30-md {

        margin-left: 30px!important;

    }

    .ml-40-md {

        margin-left: 40px!important;

    }

    .ml-50-md {

        margin-left: 50px!important;

    }

    .ml-60-md {

        margin-left: 60px!important;

    }

    .ml-70-md {

        margin-left: 70px!important;

    }

    .ml-80-md {

        margin-left: 80px!important;

    }

    .ml-90-md {

        margin-left: 90px!important;

    }

    .ml-100-md {

        margin-left: 100px!important;

    }

    .mr-0-md {

        margin-right: 0px!important;

    }

    .mr-10-md {

        margin-right: 10px!important;

    }

    .mr-20-md {

        margin-right: 20px!important;

    }

    .mr-30-md {

        margin-right: 30px!important;

    }

    .mr-40-md {

        margin-right: 40px!important;

    }

    .mr-50-md {

        margin-right: 50px!important;

    }

    .mr-60-md {

        margin-right: 60px!important;

    }

    .mr-70-md {

        margin-right: 70px!important;

    }

    .mr-80-md {

        margin-right: 80px!important;

    }

    .mr-90-md {

        margin-right: 90px!important;

    }

    .mr-100-md {

        margin-right: 100px!important;

    }

    .px-0-md {

        padding-left: 0px!important;

        padding-right: 0px!important;

    }

    .pa-0-md {

        padding: 0px!important;

    }

    .px-10-md {

        padding-left: 10px!important;

        padding-right: 10px!important;

    }

    .px-20-md {

        padding-left: 20px!important;

        padding-right: 20px!important;

    }

    .px-30-md {

        padding-left: 30px!important;

        padding-right: 30px!important;

    }

    .px-40-md {

        padding-left: 40px!important;

        padding-right: 40px!important;

    }

    .px-50-md {

        padding-left: 50px!important;

        padding-right: 50px!important;

    }

    .px-60-md {

        padding-left: 60px!important;

        padding-right: 60px!important;

    }

    .px-70-md {

        padding-left: 70px!important;

        padding-right: 70px!important;

    }

    .px-80-md {

        padding-left: 80px!important;

        padding-right: 80px!important;

    }

    .px-90-md {

        padding-left: 90px!important;

        padding-right: 90px!important;

    }

    .px-100-md {

        padding-left: 100px!important;

        padding-right: 100px!important;

    }

    .py-0-md {

        padding-top: 0px!important;

        padding-bottom: 0px!important;

    }

    .py-10-md {

        padding-top: 10px!important;

        padding-bottom: 10px!important;

    }

    .py-20-md {

        padding-top: 20px!important;

        padding-bottom: 20px!important;

    }

    .py-30-md {

        padding-top: 30px!important;

        padding-bottom: 30px!important;

    }

    .py-40-md {

        padding-top: 40px!important;

        padding-bottom: 40px!important;

    }

    .py-50-md {

        padding-top: 50px!important;

        padding-bottom: 50px!important;

    }

    .py-60-md {

        padding-top: 60px!important;

        padding-bottom: 60px!important;

    }

    .py-70-md {

        padding-top: 70px!important;

        padding-bottom: 70px!important;

    }

    .py-80-md {

        padding-top: 80px!important;

        padding-bottom: 80px!important;

    }

    .py-90-md {

        padding-top: 90px!important;

        padding-bottom: 90px!important;

    }

    .py-100-md {

        padding-top: 100px!important;

        padding-bottom: 100px!important;

    }

    .pt-0-md {

        padding-top: 0px!important;

    }

    .pt-10-md {

        padding-top: 10px!important;

    }

    .pt-20-md {

        padding-top: 20px!important;

    }

    .pt-30-md {

        padding-top: 30px!important;

    }

    .pt-40-md {

        padding-top: 40px!important;

    }

    .pt-50-md {

        padding-top: 50px!important;

    }

    .pt-60-md {

        padding-top: 60px!important;

    }

    .pt-70-md {

        padding-top: 70px!important;

    }

    .pt-80-md {

        padding-top: 80px!important;

    }

    .pt-90-md {

        padding-top: 90px!important;

    }

    .pt-100-md {

        padding-top: 100px!important;

    }

    .pb-0-md {

        padding-bottom: 0px!important;

    }

    .pb-10-md {

        padding-bottom: 10px!important;

    }

    .pb-20-md {

        padding-bottom: 20px!important;

    }

    .pb-30-md {

        padding-bottom: 30px!important;

    }

    .pb-40-md {

        padding-bottom: 40px!important;

    }

    .pb-50-md {

        padding-bottom: 50px!important;

    }

    .pb-60-md {

        padding-bottom: 60px!important;

    }

    .pb-70-md {

        padding-bottom: 70px!important;

    }

    .pb-80-md {

        padding-bottom: 80px!important;

    }

    .pb-90-md {

        padding-bottom: 90px!important;

    }

    .pb-100-md {

        padding-bottom: 100px!important;

    }

    .pl-0-md {

        padding-left: 0px!important;

    }

    .pl-10-md {

        padding-left: 10px!important;

    }

    .pl-20-md {

        padding-left: 20px!important;

    }

    .pl-30-md {

        padding-left: 30px!important;

    }

    .pl-40-md {

        padding-left: 40px!important;

    }

    .pl-50-md {

        padding-left: 50px!important;

    }

    .pl-60-md {

        padding-left: 60px!important;

    }

    .pl-70-md {

        padding-left: 70px!important;

    }

    .pl-80-md {

        padding-left: 80px!important;

    }

    .pl-90-md {

        padding-left: 90px!important;

    }

    .pl-100-md {

        padding-left: 100px!important;

    }

    .pr-0-md {

        padding-right: 0px!important;

    }

    .pr-10-md {

        padding-right: 10px!important;

    }

    .pr-20-md {

        padding-right: 20px!important;

    }

    .pr-30-md {

        padding-right: 30px!important;

    }

    .pr-40-md {

        padding-right: 40px!important;

    }

    .pr-50-md {

        padding-right: 50px!important;

    }

    .pr-60-md {

        padding-right: 60px!important;

    }

    .pr-70-md {

        padding-right: 70px!important;

    }

    .pr-80-md {

        padding-right: 80px!important;

    }

    .pr-90-md {

        padding-right: 90px!important;

    }

    .pr-100-md {

        padding-right: 100px!important;

    }

}

@media (min-width: 1200px) {

    .mx-auto-lg {

        margin-left: auto!important;

        margin-right: auto!important;

    }

    .ma-0-lg {

        margin: 0px!important;

    }

    .mx-0-lg {

        margin-left: 0px!important;

        margin-right: 0px!important;

    }

    .mx-10-lg {

        margin-left: 10px!important;

        margin-right: 10px!important;

    }

    .mx-20-lg {

        margin-left: 20px!important;

        margin-right: 20px!important;

    }

    .mx-30-lg {

        margin-left: 30px!important;

        margin-right: 30px!important;

    }

    .mx-40-lg {

        margin-left: 40px!important;

        margin-right: 40px!important;

    }

    .mx-50-lg {

        margin-left: 50px!important;

        margin-right: 50px!important;

    }

    .mx-60-lg {

        margin-left: 60px!important;

        margin-right: 60px!important;

    }

    .mx-70-lg {

        margin-left: 70px!important;

        margin-right: 70px!important;

    }

    .mx-80-lg {

        margin-left: 80px!important;

        margin-right: 80px!important;

    }

    .mx-90-lg {

        margin-left: 90px!important;

        margin-right: 90px!important;

    }

    .mx-100-lg {

        margin-left: 100px!important;

        margin-right: 100px!important;

    }

    .my-0-lg {

        margin-top: 0px!important;

        margin-bottom: 0px!important;

    }

    .my-10-lg {

        margin-top: 10px!important;

        margin-bottom: 10px!important;

    }

    .my-20-lg {

        margin-top: 20px!important;

        margin-bottom: 20px!important;

    }

    .my-30-lg {

        margin-top: 30px!important;

        margin-bottom: 30px!important;

    }

    .my-40-lg {

        margin-top: 40px!important;

        margin-bottom: 40px!important;

    }

    .my-50-lg {

        margin-top: 50px!important;

        margin-bottom: 50px!important;

    }

    .my-60-lg {

        margin-top: 60px!important;

        margin-bottom: 60px!important;

    }

    .my-70-lg {

        margin-top: 70px!important;

        margin-bottom: 70px!important;

    }

    .my-80-lg {

        margin-top: 80px!important;

        margin-bottom: 80px!important;

    }

    .my-90-lg {

        margin-top: 90px!important;

        margin-bottom: 90px!important;

    }

    .my-100-lg {

        margin-top: 100px!important;

        margin-bottom: 100px!important;

    }

    .mt-0-lg {

        margin-top: 0px!important;

    }

    .mt-10-lg {

        margin-top: 10px!important;

    }

    .mt-10-lg {

        margin-top: 10px!important;

    }

    .mt-20-lg {

        margin-top: 20px!important;

    }

    .mt-30-lg {

        margin-top: 30px!important;

    }

    .mt-40-lg {

        margin-top: 40px!important;

    }

    .mt-50-lg {

        margin-top: 50px!important;

    }

    .mt-60-lg {

        margin-top: 60px!important;

    }

    .mt-70-lg {

        margin-top: 70px!important;

    }

    .mt-80-lg {

        margin-top: 80px!important;

    }

    .mt-90-lg {

        margin-top: 90px!important;

    }

    .mt-100-lg {

        margin-top: 100px!important;

    }

    .mb-0-lg {

        margin-bottom: 0px!important;

    }

    .mb-10-lg {

        margin-bottom: 10px!important;

    }

    .mb-20-lg {

        margin-bottom: 20px!important;

    }

    .mb-30-lg {

        margin-bottom: 30px!important;

    }

    .mb-40-lg {

        margin-bottom: 40px!important;

    }

    .mb-50-lg {

        margin-bottom: 50px!important;

    }

    .mb-60-lg {

        margin-bottom: 60px!important;

    }

    .mb-70-lg {

        margin-bottom: 70px!important;

    }

    .mb-80-lg {

        margin-bottom: 80px!important;

    }

    .mb-90-lg {

        margin-bottom: 90px!important;

    }

    .mb-100-lg {

        margin-bottom: 100px!important;

    }

    .ml-0-lg {

        margin-left: 0px!important;

    }

    .ml-10-lg {

        margin-left: 10px!important;

    }

    .ml-20-lg {

        margin-left: 20px!important;

    }

    .ml-30-lg {

        margin-left: 30px!important;

    }

    .ml-40-lg {

        margin-left: 40px!important;

    }

    .ml-50-lg {

        margin-left: 50px!important;

    }

    .ml-60-lg {

        margin-left: 60px!important;

    }

    .ml-70-lg {

        margin-left: 70px!important;

    }

    .ml-80-lg {

        margin-left: 80px!important;

    }

    .ml-90-lg {

        margin-left: 90px!important;

    }

    .ml-100-lg {

        margin-left: 100px!important;

    }

    .mr-0-lg {

        margin-right: 0px!important;

    }

    .mr-10-lg {

        margin-right: 10px!important;

    }

    .mr-20-lg {

        margin-right: 20px!important;

    }

    .mr-30-lg {

        margin-right: 30px!important;

    }

    .mr-40-lg {

        margin-right: 40px!important;

    }

    .mr-50-lg {

        margin-right: 50px!important;

    }

    .mr-60-lg {

        margin-right: 60px!important;

    }

    .mr-70-lg {

        margin-right: 70px!important;

    }

    .mr-80-lg {

        margin-right: 80px!important;

    }

    .mr-90-lg {

        margin-right: 90px!important;

    }

    .mr-100-lg {

        margin-right: 100px!important;

    }

    .px-0-lg {

        padding-left: 0px!important;

        padding-right: 0px!important;

    }

    .pa-0-lg {

        padding: 0px!important;

    }

    .px-10-lg {

        padding-left: 10px!important;

        padding-right: 10px!important;

    }

    .px-20-lg {

        padding-left: 20px!important;

        padding-right: 20px!important;

    }

    .px-30-lg {

        padding-left: 30px!important;

        padding-right: 30px!important;

    }

    .px-40-lg {

        padding-left: 40px!important;

        padding-right: 40px!important;

    }

    .px-50-lg {

        padding-left: 50px!important;

        padding-right: 50px!important;

    }

    .px-60-lg {

        padding-left: 60px!important;

        padding-right: 60px!important;

    }

    .px-70-lg {

        padding-left: 70px!important;

        padding-right: 70px!important;

    }

    .px-80-lg {

        padding-left: 80px!important;

        padding-right: 80px!important;

    }

    .px-90-lg {

        padding-left: 90px!important;

        padding-right: 90px!important;

    }

    .px-100-lg {

        padding-left: 100px!important;

        padding-right: 100px!important;

    }

    .py-0-lg {

        padding-top: 0px!important;

        padding-bottom: 0px!important;

    }

    .py-10-lg {

        padding-top: 10px!important;

        padding-bottom: 10px!important;

    }

    .py-20-lg {

        padding-top: 20px!important;

        padding-bottom: 20px!important;

    }

    .py-30-lg {

        padding-top: 30px!important;

        padding-bottom: 30px!important;

    }

    .py-40-lg {

        padding-top: 40px!important;

        padding-bottom: 40px!important;

    }

    .py-50-lg {

        padding-top: 50px!important;

        padding-bottom: 50px!important;

    }

    .py-60-lg {

        padding-top: 60px!important;

        padding-bottom: 60px!important;

    }

    .py-70-lg {

        padding-top: 70px!important;

        padding-bottom: 70px!important;

    }

    .py-80-lg {

        padding-top: 80px!important;

        padding-bottom: 80px!important;

    }

    .py-90-lg {

        padding-top: 90px!important;

        padding-bottom: 90px!important;

    }

    .py-100-lg {

        padding-top: 100px!important;

        padding-bottom: 100px!important;

    }

    .pt-0-lg {

        padding-top: 0px!important;

    }

    .pt-10-lg {

        padding-top: 10px!important;

    }

    .pt-20-lg {

        padding-top: 20px!important;

    }

    .pt-30-lg {

        padding-top: 30px!important;

    }

    .pt-40-lg {

        padding-top: 40px!important;

    }

    .pt-50-lg {

        padding-top: 50px!important;

    }

    .pt-60-lg {

        padding-top: 60px!important;

    }

    .pt-70-lg {

        padding-top: 70px!important;

    }

    .pt-80-lg {

        padding-top: 80px!important;

    }

    .pt-90-lg {

        padding-top: 90px!important;

    }

    .pt-100-lg {

        padding-top: 100px!important;

    }

    .pb-0-lg {

        padding-bottom: 0px!important;

    }

    .pb-10-lg {

        padding-bottom: 10px!important;

    }

    .pb-20-lg {

        padding-bottom: 20px!important;

    }

    .pb-30-lg {

        padding-bottom: 30px!important;

    }

    .pb-40-lg {

        padding-bottom: 40px!important;

    }

    .pb-50-lg {

        padding-bottom: 50px!important;

    }

    .pb-60-lg {

        padding-bottom: 60px!important;

    }

    .pb-70-lg {

        padding-bottom: 70px!important;

    }

    .pb-80-lg {

        padding-bottom: 80px!important;

    }

    .pb-90-lg {

        padding-bottom: 90px!important;

    }

    .pb-100-lg {

        padding-bottom: 100px!important;

    }

    .pl-0-lg {

        padding-left: 0px!important;

    }

    .pl-10-lg {

        padding-left: 10px!important;

    }

    .pl-20-lg {

        padding-left: 20px!important;

    }

    .pl-30-lg {

        padding-left: 30px!important;

    }

    .pl-40-lg {

        padding-left: 40px!important;

    }

    .pl-50-lg {

        padding-left: 50px!important;

    }

    .pl-60-lg {

        padding-left: 60px!important;

    }

    .pl-70-lg {

        padding-left: 70px!important;

    }

    .pl-80-lg {

        padding-left: 80px!important;

    }

    .pl-90-lg {

        padding-left: 90px!important;

    }

    .pl-100-lg {

        padding-left: 100px!important;

    }

    .pr-0-lg {

        padding-right: 0px!important;

    }

    .pr-10-lg {

        padding-right: 10px!important;

    }

    .pr-20-lg {

        padding-right: 20px!important;

    }

    .pr-30-lg {

        padding-right: 30px!important;

    }

    .pr-40-lg {

        padding-right: 40px!important;

    }

    .pr-50-lg {

        padding-right: 50px!important;

    }

    .pr-60-lg {

        padding-right: 60px!important;

    }

    .pr-70-lg {

        padding-right: 70px!important;

    }

    .pr-80-lg {

        padding-right: 80px!important;

    }

    .pr-90-lg {

        padding-right: 90px!important;

    }

    .pr-100-lg {

        padding-right: 100px!important;

    }

}