@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
$grey:#1e2931;
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    background: #1e2931;
}
.bg-cover {
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}
.bg-red{
	    background-image: url(../images/bg-red.jpg);
}
.bg-grey {
    background: $grey;
}
.gradient {
    background-color: #a68403;
    background: -webkit-linear-gradient(top, #a68403, #f6c719);
    background: linear-gradient(top, #a68403, #f6c719);
}
.btn-gold {
    @extend .gradient;
    border-color: rgba(black, 0.3);
    box-shadow: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        color: black;
        cursor: pointer;
    }
}
.custom-control-label {
    vertical-align: middle;
    line-height: 24px;
}
.border-alpha {
    border-color: rgba(white, 0.4) !important;
}
.wrapper {
    max-width: 700px;
    margin: 0px auto;
    padding: 20px 0px;
}
.card-bordered {
    border: 1px solid rgba(white, 0.4);
    padding: 10px 20px;
    border-radius: 30px;
}
.title-bordered .border-bottom {
    border-bottom-color: rgba(white, 0.4) !important;
}
.bg-mattegreen {
    background: #6c6c5f;
}
.bordered-frame {
    position: relative;
    border: 1px solid rgba(white, 0.4);
    border-radius: 30px;
    margin: 30px 0px;
    .bf-label {
        position: absolute;
        left: 30px;
        top: -15px;
        span {
            background: #1e2931;
            color: #fc0;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0px 5px;
            font-weight: bold;
        }
    }
    .bf-body {
        padding: 20px 35px;
    }
}
.digits {
    border-bottom: 1px solid rgba(white, 0.4);
}
.table-custom {
    tr {
        td, th {
            font-weight: bold;
            vertical-align: middle;
            &:first-child {
                padding-left: 20px;
            }
            &:last-child {
                padding-left: 20px;
            }
        }
    }
    thead {
        tr {
            th {
                padding-top: 15px;
                padding-bottom: 15px;
                background: rgba(white, 0.05);
                border-color: rgba(white, 0.4);
                border-right: 1px solid rgba(white, 0.4);
                border-bottom: 0px;
                &:last-child {
                    border-right: 0px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                border-color: rgba(white, 0.4);
            }
        }
    }
}
.socials {
    max-width: 200px;
    margin: 0px auto;
}
.nav-socials {
    li {
        margin-right: 10px;
        a {
            background: #f00;
            color: white;
            padding: 0px;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            &.fb {
                background: #234e9a;
            }
            &.tw {
                background: #32aadc;
            }
            &.gp {
                background: #e2131e;
            }
            &.in {
                background: #007bb5;
            }
        }
    }
}
.bonus-table{
    @extend .bg-grey;
    color: white;
    .bonus-table-row{
        background: rgba(white,.05);
        padding: 20px;
        margin: 5px 0px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
 
}
.promotions-slider {
    width: 100%;
    .item {
       padding-bottom: 40%;
        width: 100%;
        @extend .bg-cover;
    }
}
@media (max-width: 480px) {
    .border-alpha-xs-none {
        border: 0px !important;
    }
}