.swal-icon--success:after, .swal-icon--success:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 0px;
 height:0; 
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.swal-icon--success__hide-corners {
    width: 5px;
    height: 90px;
    background-color: #e6e6e6;
    padding: 1px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.swal-icon--success__line {
    height: 5px;
    background-color: #391c76;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}
.swal-icon--success__ring {
    width: 80px;
    height: 80px;
    border: 4px solid hsl(259, 63%, 28%);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}
.swal-button {
    background-color: #e67f28;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}
.swal-button:not([disabled]):hover {
    background-color: #f00318;
}
.swal-button:active {
    background-color: #e67f28;
}
.swal-modal {
    width: 478px;
    opacity: 0;
    pointer-events: none;
    background-color: #e6e6e6;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #f00318;
    position: static;
    margin: 20px auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
}

.swal-icon {
    width: 80px;
    height: 80px;
    border-width: 4px;
    /* border-style: solid; */
    border-radius: 50%;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    margin: 20px auto;
    /* background: #000; */
   
}
.swal-icon--warning {
    border-color: #f00;
    -webkit-animation: pulseWarning .75s infinite alternate;
    animation: none;
}
.swal-icon--warning__body, .swal-icon--warning__dot {
    position: absolute;
    left: 50%;
    background-color: #f00;
}
