@media only screen and (min-width:1024px) and (max-width:1199px){

}
@media(max-width: 1100px){
.payment_part_foot {
    width: 360px;}
}
@media(max-width:1080px){
.payment_part_foot {
    width: 350px;}

}
@media(max-width:1024px){
.payment_part_foot {
    width: 322px;
}
}
@media(max-width:991px){
.width-991{ -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    max-width: 100%;}
.m-b{ margin-bottom: 25px; }    
.display-block{ display: block !important; }
}

