@import "scss/functions";
@import "scss/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");









html {
    width: 100%;
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.workspace{
     overflow-y: auto;
}









.page-title{
    background:$my;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}





// *{
//     box-shadow: 0px 0px 0px 1px #f00;
// }
*{
    outline: none!important;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #ddd;
  
}
.wrapper{
    max-width:400px;
    margin: 0px auto;
      background: #eee;
     
}
.h6{
    font-size: 15px;
}

.gradient1{
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(45deg, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(45deg, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: 100% 100%;
background-repeat: no-repeat;
}
.gradient2{
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(45deg, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(45deg, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: 100% 100%;
background-repeat: no-repeat;
}
.bg-red {
    background-image: url(../images/bg-red.jpg);
}
.bg-cover {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.bg-contain {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.dp1{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.dp2{
          box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}


.btn-primary,.btn-danger,.btn-secondary,.btn-info,.btn-success,.btn-warning {
  @extend .dp1;
}



.profile{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid #ccc;
    @extend .bg-cover;
}


.table-responsive{
    @extend .dp1;
}

.table:not(.table-dark){
    background-color: white;
}

.card{
    @extend .dp1;
    border: 0px;
}

.border-top{
    border-top-color: rgba(black, 0.2)!important;
}

.card-bordered {
    border: 1px solid rgba(black, 0.2);
    padding: 10px 20px;
    border-radius: 30px;
}
.digits {
    border-bottom: 1px solid rgba(black, 0.2);
}
.bonus-table{
    .bonus-table-row{
        background: white;
        padding: 20px;
        margin-bottom: 15px;
        @extend .dp1;
        &:last-child{
            margin-bottom: 0px;
        }
    }
 
}
.bordered-frame {
    position: relative;
    border: 1px solid rgba(black, 0.2);
    border-radius: 30px;
    margin: 30px 0px;
    .bf-label {
        position: absolute;
        left: 30px;
        top: -15px;
        span {
            background: #eee;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0px 5px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .bf-body {
        padding: 20px 35px;
    }
}
.nav-socials {
    li {
        margin-right: 10px;
        a {
            background: #f00;
            color: white;
            padding: 0px;
            height: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            &.fb {
                background: #234e9a;
            }
            &.tw {
                background: #32aadc;
            }
            &.gp {
                background: #e2131e;
            }
            &.in {
                background: #007bb5;
            }
        }
    }
}

.top-actions{
    background: black;
    .btn1{
        @extend .gradient1;
        color: white;
    }
     .btn2{
        @extend .gradient2;
        color: white;
    }
}
    .toggle{
        border:0px;
        background: 0px;
        padding: 0px;
        color: black;
        font-size: 20px;
        transform: scale(0.99999);
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        cursor:pointer;
        &:active{
           color: $primary;
        }

    }
header {
    background: white;
    position: relative;
    z-index: 5;
    padding:5px 0px;
    @extend .dp1;
    .logo{
        @extend .bg-contain;
        display: block;
        background-position: left center !important; 
        height: 50px;
    }
    .toggle{
        margin-right: -15px;
        width: 60px;
        font-size: 25px;
    }

}

.slider {
    padding:0px 0px;
    .carousel {
        .item {
      padding: 15px 2.5px;
            .slider_block {
                text-align: center;
                padding: 0px 10px;
                padding-bottom: 52%;
                border-radius: 5px;
                @extend .bg-cover;
                @extend .dp1;
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.services {
@extend .gradient1;
padding: 0px 0px;
    .carousel {
        .item {
       padding-top: 15px;
       padding-bottom: 15px;
       padding-right: 5px;
       padding-left: 2.5px;
            .services_block {
                // width: 120px;
                background: white;
                text-align: center;
                padding: 20px 10px;
                border-radius: 5px;
                @extend .dp1;

                .h6{
                    margin: 5px 0px;
                }

                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.about{
    padding: 15px 0px;
    background: white;
    @extend .dp1;
    p{
        &:last-child{
            margin-bottom: 0px;
        }
    }
}.points{
    padding: 15px 0px;
    @extend .gradient2;
}
.screens {
@extend .gradient2;
    padding:20px 0px;
    .h6{
        text-align: center;
        color: white;
        margin-bottom:10px;
    }
    .carousel {
        .item {
      padding: 0px 2.5px;
            .screen_block {
               width: 100%;
                text-align: center;
                padding: 0px 10px;
                 padding-bottom: 56.4%;
                border-radius: 5px;
                @extend .bg-contain;
                @extend .dp1;
                p {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.downloads{
    padding: 20px 0px;
    @extend .gradient1;
       .h6{
        text-align: center;
        color: white;
        margin-bottom:10px;
        text-transform: uppercase;
    }
}
.sidebar-overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(black,.5);
       transition: all 300ms ease-out;
       opacity: 0;
       visibility: hidden;
       &.open{
           opacity: 1;
           visibility:visible;
       }
}
.sidebar{
   transform: translateX(-100%);
   transition: all 300ms ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
      width: 300px;
      @extend .gradient1;
      @extend .dp1;
      color: white;

    z-index: 999;
 
    &.open{
  transform: translateX(0%);
    }
    .toggle{
        position: absolute;
        left: 10px;
        top: 20px;
        color: white;
        border: 1px solid rgba(white,.2);
        border-radius: 100%;
    }
    .nav{
        margin-top: 80px;
        .nav-item{
            border-bottom: 1px solid rgba(white,.2);
            .nav-link{
                font-size: 10px;
                font-weight: bold;
                color: white;
            }
        }
    }
}
footer{
    background: white;
    padding: 20px 0px;
}

.promotions .carousel .item {
    padding-bottom: 40%;
    width: 100%;
}

.slick-prev {
    left: 10px;
    z-index: 999;
}

.slick-next {
    right: 10px;
    z-index: 999;
}

.testimonials{
    @extend .bg-red;
    padding: 30px 0px;
}


.nav-one{
    background:$primary;
    .nav-item{
        border-left: 1px solid rgba(white,.2);
        &:first-child{
            border-left: 0px;
        }
        .nav-link{
            color:white;
            padding:15px 15px;
            font-weight:bold;
            text-transform: uppercase;
            position: relative;
            &:hover{
                color:white;
            }
            &.active{
             &::before{
                    content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid $primary;
                margin-left: -7px;
             }
            }

        }
    }
}

.nav-two{
    background: $dark;
    .nav-item{
        border-left: 1px solid rgba(white,.1);
        &:first-child{
            border-left: 0px;
        }
        .nav-link{
            color:white;
            padding:15px 15px;
            font-weight:bold;
            text-transform: uppercase;
            position: relative;
            &:hover{
                color:white;
            }
                   &.active{
             &::before{
                    content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid $dark;
                margin-left: -7px;
             }
            }
        }
    }
}